mixin range-slider(slider__title)
    .range-slider.elements__range-slider
        include __title/range-slider__title
        +range-slider__title(slider__title)
        include __price/range-slider__price
        +range-slider__price(slider__price)



//- <p>
//-   <label for="amount">Price range:</label>
//-   <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
//- </p>
 
//- <div id="slider-range"></div>