// Border, default with border
.dropdown[class*='__dropdown_borderless'] {
  border: none;
  .input {
    border: none;
  }
  input {
    width: calc(100% - 42px);
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 0;
  }
  .list.dropdown__list {
    border: none;
  }
}
    