.dropdown {
    display: flex;
    flex-flow: column wrap;

    .list {        
        visibility: hidden;
    }
}

// elements    
@import './__marker/dropdown__marker.scss';

// mods
@import './_open/dropdown_open.scss';
@import './_slim/dropdown_slim.scss';

// .dropdown[class*='__dropdown'] {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   box-sizing: border-box;
//   border: 1px solid $darkShade025;
//   border-radius: 4px;

//   .blockTitle.dropdown__blockTitle {
//     margin-bottom: 5px;
//   }

//   .input {
//     max-height: 44px;
//   }

//   input {
//     width: calc(100% - 42px);
//     padding-top: 12px;
//     padding-bottom: 8px;
//     padding-left: 14px;
//     border-radius: 4px;
//     border-style: none;
//     font-size: 14px;
//     line-height: 24px;
//     font-family: $mainFont;
//     font-style: normal;
//     font-weight: normal;
//     color: $darkShade100;
//     background: transparent;

//     &:hover,
//     &:focus {
//       border-color: $darkShade050;

//       &::placeholder {
//         color: $darkShade075;
//       }
//     }

//     &:disabled {
//       background: transparent;
//     }

//     &::placeholder {
//       font-size: 14px;
//       line-height: 24px;
//       font-family: $mainFont;
//       font-style: normal;
//       font-weight: normal;
//       color: $darkShade025;
//       box-sizing: box-sizing;
//     }
//   }

//   .list.dropdown__list {
//     width: var(--dropdown-width);
//     position: absolute;
//     padding-top: 3px;
//     top: 43px;
//     left: -1px;
//     display: flex;
//     flex-flow: column wrap;
//     justify-content: space-between;
//     border: 1px solid $darkShade050;
//     border-top: none;
//     box-sizing: border-box;
//     // box-shadow: 0px 10px 20px $darkShade005;
//     border-bottom-left-radius: 2px;
//     border-bottom-right-radius: 2px;
//     visibility: hidden;
//     z-index: 10;
//     background: #fff;
//   }
// }

// @import './__marker/dropdown__marker.scss';
// @import './__item/dropdown__item.scss';
// @import './__option/dropdown__option.scss';
// // Mods
// @import './_borderless/dropdown_borderless.scss';
// @import './_uppercase/dropdown_uppercase.scss';
// @import './_expanded/dropdown_expanded.scss';
// @import './_large/dropdown_large.scss';
// @import './_medium/dropdown_medium.scss';
// @import './_small/dropdown_small.scss';
// @import './_darkShade075/dropdown_darkShade075.scss';
// @import './_montserrat/dropdown_montserrat.scss';
// @import './_free/dropdown_free.scss';
// // .dropdown.box__dropdown,
// // .dropdown.dateDropdown__dropdown {
// //     position: relative;
// //     width: 320px;
// //     min-height: 44px;
// //     border-radius: 4px;
// //     border: 1px solid $darkShade025;
// //     box-sizing: border-box;

// //     &_expanded {
// //         border: 1px solid $darkShade050;
// //         border-bottom-left-radius: 0;
// //         border-bottom-right-radius: 0;
// //     }

// //     &_small {
// //         max-width: 150px;
// //     }

// //     &_medium {
// //         max-width: 266px;
// //     }

// //     &_large {
// //         max-width: 320px;
// //     }

// //     input {
// //         width: calc(100% - 42px);
// //         padding-top: 12px;
// //         padding-bottom: 8px;
// //         padding-left: 14px;
// //         border-radius: 4px;
// //         border-style: none;
// //         font-size: 14px;
// //         line-height: 24px;
// //         font-family: $mainFont;
// //         font-style: normal;
// //         font-weight: normal;

// //         &:hover,
// //         &:focus {
// //             border-color: $darkShade050;

// //             &::placeholder {
// //                 color: $darkShade075;
// //             }
// //         }
// //         &:disabled {
// //             background: #fff;
// //         }



// //         &::placeholder {

// //             font-size: 14px;
// //             line-height: 24px;
// //             font-family: $mainFont;
// //             font-style: normal;
// //             font-weight: normal;
// //             color: $darkShade025;
// //             box-sizing: box-sizing;
// //         }

// //     }

// //     .caret {
// //         position: absolute;
// //         top: 10px;
// //         right: 9px;
// //         display: inline-block;
// //         width: 24px;
// //         height: 24px;
// //         margin-left: 2px;
// //         vertical-align: middle;
// //         background: url('/assets/img/expand_more-24px.svg');
// //     }

// //     .post {
// //         position: absolute;
// //         top: 10px;
// //         right: 9px;
// //         display: inline-block;
// //         width: 24px;
// //         height: 24px;
// //         margin-left: 2px;
// //         vertical-align: middle;
// //         background: url('/assets/img/arrow_forward_bc9cff-8ba4f9.svg') center no-repeat;
// //     }

// //     .list.dropdown__list {
// //         position: absolute;
// //         top: 43px;
// //         left: -1px;
// //         display: flex;
// //         flex-flow: column wrap;
// //         justify-content: space-between;
// //         border: 1px solid $darkShade050;
// //         border-top: none;
// //         box-sizing: border-box;
// //         box-shadow: 0px 10px 20px $darkShade005;
// //         visibility: hidden;
// //         border-bottom-left-radius: 2px;
// //         border-bottom-right-radius: 2px;
// //         z-index: 10;
// //         background: red;

// //         &.open {
// //             visibility: visible;
// //         }

// //         &_small {
// //             max-width: 150px;
// //         }

// //         &_medium {
// //             max-width: 266px;
// //         }

// //         &_large {
// //             max-width: 320px;
// //         }


// //         flex-flow: row wrap;

// //         .apply.list__apply {
// //             margin: 18px 6px 12px auto;
// //             font-size: 12px;
// //             line-height: 15px;
// //             font-stretch: ultra-condensed;
// //         }

// //         .reset.list__reset {
// //             margin: 18px auto 12px 6px;
// //             font-size: 12px;
// //             line-height: 15px;
// //             font-stretch: ultra-condensed;
// //             visibility: hidden;

// //             &_visible {
// //                 visibility: visible;
// //             }
// //         }
// //     }
// // }


// // @import './__item/dropdown__item.scss';

// // /* Dropdown Button */
// // .box__dropdown_dropdown {
// //     background-color: #3498DB;
// //     color: white;
// //     padding: 16px;
// //     font-size: 16px;
// //     border: none;
// //     cursor: pointer;
// //   }

// //   /* Dropdown button on hover & focus */
// //   .box__dropdown_dropdown:hover, .box__dropdown_dropdown:focus {
// //     background-color: #2980B9;
// //   }

// //   /* The container <div> - needed to position the dropdown content */
// //   .box__dropdown_dropdown {
// //     position: relative;
// //     display: inline-block;
// //   }

// //   /* Dropdown Content (Hidden by Default) */
// //   .list {
// //     display: none;
// //     position: absolute;
// //     background-color: #f1f1f1;
// //     min-width: 160px;
// //     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
// //     z-index: 1;
// //   }

// //   /* Links inside the dropdown */
// //   .list .item {
// //     color: black;
// //     padding: 12px 16px;
// //     text-decoration: none;
// //     display: block;
// //   }

// //   /* Change color of dropdown links on hover */
// //   .list .item:hover {background-color: #ddd}

// //   /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
// //   .show {display:block;}

// // @import './__item/dropdown__item.scss';