.option.list__option {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10px;
    white-space: pre-line;

    label {
        margin-bottom: 5px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    input+label {
        position: relative;
        padding: 0 0 0 30px;
        cursor: pointer;
    }

    input+label:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $darkShade025;
        border-radius: 4px;
        background: #FFF;
    }

    input+label:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid #BC9CFF;
        border-radius: 4px;
        background: url('/assets/img/checked.svg') no-repeat;
        background-position: center;
        opacity: 0;
        transition: .2s;
    }

    input:checked+label:after {
        opacity: 1;
    }

    .description {
        padding-left: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $darkShade050;
    }
}

.option.checkboxRadio__option {
    margin-right: 10px;

    input[type="radio"] {
        position: absolute;
        opacity: 0;

        +label {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.5);
            text-align: center;

            &:before {
                content: '';
                background: #fff;
                border-radius: 50%;
                border: 1px solid rgba(31, 32, 65, 0.25);
                display: inline-block;
                width: 20px;
                height: 20px;
                position: relative;
                top: -0.2em;
                margin-right: 1em;
                vertical-align: middle;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }

        &:checked {
            +label {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: $darkShade075;

                &:before {
                    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                    box-shadow: inset 0 0 0 4px #fff;
                }
            }
        }
    }
}

.option.toggle__option {
    input {
        display: none;

        +label {
            font-family: montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;

            div {
                display: flex;
                width: 40px;
                height: 20px;
                border: 1px solid rgba(31, 32, 65, 0.25);
                box-sizing: border-box;
                border-radius: 10px;
                margin-right: 10px;

                &:before {
                    transition: all .25s ease;
                    content: "";
                    display: block;
                    margin: 3px;
                    width: 12px;
                    height: 12px;
                    background: rgba(31, 32, 65, 0.25);
                    border-radius: 50%;
                }
            }
        }

        &:checked+label div {
            border: 1px solid #BC9CFF;

            &:before {
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                transform: translateX(20px);
            }
        }
    }
}

.option.like__option {
    margin-right: 10px;

    input {
        display: none;

        +label {
            width: 40px;
            height: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            border: 1px solid rgba(31, 32, 65, 0.25);
            font-family: montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: rgba(31, 32, 65, 0.25);

            div {
                display: flex;
                box-sizing: border-box;
                margin-left: 5px;
                margin-right: 6px;
                font-family: Material Icons;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 9px;
                display: flex;
                align-items: center;
                text-align: center;

                /* Dark 25% */

                color: rgba(31, 32, 65, 0.25);

                &:before {
                    content: 'favorite_border';
                }
            }
        }

        &:checked+label {
            border: 1px solid #BC9CFF;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            /* identical to box height */

            text-align: center;

            /* Primary Color */

            color: #BC9CFF;

            div {
                content: attr(value);
                margin-left: 5px;
                margin-right: 6px;
                font-family: Material Icons;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 9px;
                display: flex;
                align-items: center;
                text-align: center;

                /* Primary Color */

                color: #BC9CFF;

                &:before {
                    content: 'favorite';
                }
            }
        }
    }
}

@import './_montserratBold/dropdown__option_montserratBold.scss';
@import './_darkShade075/dropdown__option_darkShade075.scss';