include ./services
include ./variables

include ../../components/benefit/benefit
include ../../components/blockTitle/blockTitle
include ../../components/button/button
include ../../components/card/card
include ../../components/checkbox/checkbox
include ../../components/colorNotion/colorNotion
include ../../components/copyright/copyright
include ../../components/counter/counter
include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/footer/footer
include ../../components/footerCreative/footerCreative
include ../../components/header/header
include ../../components/imageSlider/imageSlider
include ../../components/input/input
include ../../components/logo/logo
include ../../components/menu/menu
include ../../components/pagination/pagination
include ../../components/rangeSlider/rangeSlider
include ../../components/rateStars/rateStars
include ../../components/review/review
include ../../components/roomDetails/roomDetails
include ../../components/roomPreview/roomPreview