block variables       
    -
        let i = 1;
        let url = '#page';
        let menu_ui = [                
            {url: 'colors&type.html', text: 'Colors & Type'},
            {url: 'headers&footers.html', text: 'Headers & Footers'},
            {url: 'cards.html', text: 'Cards'},
            {url: 'formelements.html', text: 'Form Elements'}
        ];
        let menu_landing = [                
            {url: url, text: 'Landing page'},
            {url: url, text: 'Landing page/Dates Dropdown'},
            {url: url, text: 'Landing page/Guests Dropdown'},
            {url: url, text: 'Search room/Filter'},
            {url: url, text: 'Search room/Filter/Preferences Dropdown'},
            {url: url, text: 'Search room/Filter/Preferences Expandable Checkbox list'},
            {url: url, text: 'Room details'},
            {url: url, text: 'Sign in'},
            {url: url, text: 'Registration'}
        ];
        let checked_star = "M10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25Z"
        let inputCounter = 0;