include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    +title(header, header)
    block head

  body
    .item-page
      block header
      
  block script