block variables        
    -
        let i = 1;
        let url = '#page';
        let menu_ui = [                
            {url: '../colors&type.html', text: 'Colors & Type'},
            {url: '../headers&footers.html', text: 'Headers & Footers'},
            {url: url, text: 'Cards'},
            {url: url, text: 'Form Elements'}
        ];
        let menu_landing = [                
            {url: url, text: 'Landing page'},
            {url: url, text: 'Landing page/Dates Dropdown'},
            {url: url, text: 'Landing page/Guests Dropdown'},
            {url: url, text: 'Search room/Filter'},
            {url: url, text: 'Search room/Filter/Preferences Dropdown'},
            {url: url, text: 'Search room/Filter/Preferences Expandable Checkbox list'},
            {url: url, text: 'Room details'},
            {url: url, text: 'Sign in'},
            {url: url, text: 'Registration'}
        ];