.benefit.box__benefit {
    height: 60px;
    width: 280px;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);;
    margin-bottom: 20px;
    .material-icons {
        width: 48px;
        height: 48px;
        font-size: 48px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        background-clip: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .blockTitle {
        line-height: 24px;
    }
}