ul.menu
    block variables
    -
        let menu = [
            {url: "/", text: "Home"},
            {url: "/abt", text: "About Us"},
            {url: "/serv", text: "Services"},
            {url: "/care", text: "Careers"},
            {url: "/nws", text: "News"},
            {url: "/docs", text: "Documentation"}
        ];
    each element in menu
        include menu__item/menu__item