*[class*='__button_bordered'] {
    padding: 0 20px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: 2px solid transparent;
    box-shadow: inset 100px 100px 0 0 #fff;
}