.dropdown[class*='__dropdown_montserrat'] {

    input,
    input::placeholder {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }
}