mixin review(review={photo:'', name:'', date:'', text:''})
    +blockWrap('review')
        +blockWrap('wrapper')
            include __photo/review__photo
            +review__photo(review.photo)
            +checkbox('like', [
                {case:'12', checked:'checked'}])
        +blockWrap('textWrapper')
            +blockTitle({
                selector: 'h4',
                text: review.name,
                mode: ['montserratBold']})
            +blockTitle({
                selector: 'h4',
                text: review.date,
                mode: ['montserrat']})
            +blockTitle({
                selector: 'h4',
                text: review.text,
                mode: ['montserrat']})