.dropdown[class*='__dropdown_uppercase'] {
    input, input::placeholder {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
}