mixin benefit(benefit={icon:'insert_emoticon', name:'default name', description:'default description'})
    +blockWrap('benefit')
        .material-icons= benefit.icon
        +blockTitle({
                selector: 'h3',
                text: benefit.name,
                mode: ['montserratBold', 'darkShade075']})
        +blockTitle({
                selector: 'h3',
                text: benefit.description,
                mode: ['montserrat', 'darkShade075']})
