include /pages/utils/mixins

mixin color-sample(ResName, ResCode)
        .color-sample.colors__color-sample
                include __color-notion/color-sample__color-notion
                .color-name.color-sample__color-name
                        include __color-name/color-sample__color-name
                        +color-name(ResName, ResCode)