.description.pagination__description {
    padding-top: 10px;
    padding-left: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    /* Dark 75% */

    color: rgba(31, 32, 65, 0.75);
}