.bar.pagination__bar {
    display: flex;
    flex-flow: row nowrap;
    li a,
    li span {
        width: 40px;
        height: 40px;
        border: none;
        box-shadow: none;
        background: #fff;

        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);

        &.current.prev,
        &.current.next,
        &.disabled span {
            display: none;
        }

        &.prev,
        &.next {
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            border: none;
            border-radius: 22px;
            font-family: Material Icons;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 20px;
            color: #fff;
        }

        &.current {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border: none;
            border-radius: 22px;
            color: #fff;
            font-weight: bold;
        }
    }

}