include ./__marker/button__marker

mixin button(options)
    if !options
        - options = {}
    if !options.type
        - options.type = []

    +blockWrap('button', options.type)
        +blockTitle(options)
        each mode in options.type
            if mode == 'post'
                +button__marker(mode)