.button.box__button, .button.orderThird__button,.button.orderFirst__button,.menu__button {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;

    .blockTitle {
        // padding: 0 20px;
        white-space: nowrap;
    }
}

@import './_bordered/button_bordered.scss';
@import './_borderless/button_borderless.scss';
@import './_disabled/button_disabled.scss';
@import './_filled/button_filled.scss';