mixin color-notion(notion)
 -
        var inlineClass = 'color-sample__color-notion';
        for (let k = 0; k < notion.length; k++) {
            inlineClass += ' color-sample__color-notion' + '_' + notion[k];
        }
 .color-sample__color-notion
        div(class= inlineClass)