.color-sample__color-notion {
    height: 70px;
    width: 70px;
    border-radius: 6px;
}

@import "./_dark-shade-100_1F2041/color-sample__color-notion_dark-shade-100_1F2041.scss";
@import "./_dark-shade-075_1F2041/color-sample__color-notion_dark-shade-075_1F2041.scss";
@import "./_dark-shade-050_1F2041/color-sample__color-notion_dark-shade-050_1F2041.scss";
@import "./_dark-shade-025_1F2041/color-sample__color-notion_dark-shade-025_1F2041.scss";
@import "./_dark-shade-005_1F2041/color-sample__color-notion_dark-shade-005_1F2041.scss";
@import "./_purple_BC9CFF/color-sample__color-notion_purple_BC9CFF.scss";
@import "./_green_6FCF97/color-sample__color-notion_green_6FCF97.scss";