include ./formelements-data

include /assets/pug/mixins

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
  +page('formelements', 'This page countain the forms and elements', 'pageFormElements')
body(class= page_class) 
  +logo() 
  //- Общий контейнер
  +blockWrap('container')
    //- Содержимое первой по горизонтали половины страницы
    +blockWrap('mixedContent')

      //--------------------------Первая колонка - формы------------------------  
      +blockWrap('forms')

        //- Текстовое поле
        +blockWrap('box')
          +blockTitle(locals.textField)
          +blockTitle(locals.textDefault)
          +input(locals.inputDefault)

        //- Текстовое поле сфокусированное по умолчанию/при наведении
        +blockWrap('box')
          +blockTitle(locals.textField)
          +blockTitle(locals.textHover)
          +input(locals.inputFocused)

        //- Дропдаун
        +blockWrap('box')
          +blockTitle(locals.textDropdown)
          +blockTitle(locals.textDefault)
          //- +input(locals.inputDropdown)
          +dropdown(locals.dropdownExample)

        //- Текстовое поле с маской
        +blockWrap('box')
          +blockTitle(locals.textMasked)
          +blockTitle(locals.textDefault)
          +input(locals.inputMask)
          
        //- Два дропдауна - даты
        +blockWrap('box', ['slim'])
          +blockWrap('dateDropdown')
            +dropdown(locals.dropdownDate)
        +blockWrap('box', ['slim'])
          +blockWrap('dateDropdown')
            +dropdown(locals.dropdownReal)

        //- Дропдаун диапазона дат
        +blockWrap('box')
          +blockWrap('dateDropdown')
            +blockTitle(locals.textFilterDate)
            +dropdown(locals.dropdownFilter)
        
        //- Форма подписки
        +blockWrap('box')
          +blockWrap('dateDropdown')
            +blockTitle(locals.textSubscription)
            +input(locals.inputSubscription)

      //--------------------------Вторая колонка чекбоксы, радио и пр.------------------------ 
      +blockWrap('checkboxTypes')

        //- Чекбокс простой
        +blockWrap('box')
          +blockTitle(locals.textCheckbox)
          +checkbox(locals.checkboxList)

        //- Чекбокс радио
        +blockWrap('box')
          +blockTitle(locals.textRadio)
          +checkbox(locals.checkboxRadio)

        //- Тоггл
        +blockWrap('box')
          +blockTitle(locals.textToggle)
          +checkbox(locals.checkboxToggle)
        
        //- Лайк
        +blockWrap('box')
          +blockTitle(locals.textLike)
          +checkbox(locals.checkboxLike)
        
        //- Рейт
        +blockWrap('box')
          +blockTitle(locals.textRate)
          +blockWrap('rateWrap')
            +rateStars('4')           
            +rateStars('5')

      //--------------------------Elements------------------------            
      +blockWrap('elements')

        //- Range slider
        +rangeSlider()

        //- Buttons
        +blockWrap('buttons')
          +blockTitle(locals.textButtons)

          +blockWrap('box')
            +button(locals.buttonFilled)
            +button(locals.buttonDisabled)

          +blockWrap('box')
            +button(locals.buttonBordered)
            +button(locals.buttonBorderedDisabled)

          +blockWrap('box')
            +button(locals.buttonPurple)
            +button(locals.buttonDarkshade050)

          +blockWrap('box')
            +button(locals.buttonPay)

        //- Пагинатор
        +blockWrap('box')
            +blockTitle(locals.textPagination)
            +pagination('1 – 12 из 100+ вариантов аренды')

    //--------------------------Вторая половина страницы, дропдауны------------------------
    
    //- Дропадауны для комнат 
    +blockWrap('dropdowns')
      +blockWrap('wrapRoom')

        //- Дропдаун с границей свернутый
        +blockWrap('box')
          +blockTitle(locals.textDropdown)
          +blockTitle(locals.textDefault)
          +dropdown(locals.dropdownRoomsClosed)

        //- Дропадаун с границей открытый
        +blockWrap('box')
          +blockTitle(locals.textDropdown)
          +blockTitle(locals.textExpanded)
          +dropdown(locals.dropdownRoomsOpened)

      //- Дропдауны для гостей
      +blockWrap('wrapGuests')

        //- Пустой дропдаун
        +blockWrap('box')
          +blockTitle(locals.textDropdown)
          +dropdown(locals.dropdownGuestsOpenedClear)
        
        //- Заполненный дропдаун
        +blockWrap('box')
          +blockTitle(locals.textDropdown)
          +dropdown(locals.dropdownGuestsOpened)
    
    //- Дропдауны чекбоксы
    +blockWrap('checkboxList')
      +blockWrap('expandable')
        +blockWrap('box')
          +dropdown(locals.dropdownSimpleClosed)
        +blockWrap('box')
          +dropdown(locals.dropdownSimpleOpened)
      +blockWrap('rich')
        +blockWrap('box')
          +blockTitle(locals.textRich)
          +checkbox(locals.checkboxRich)
        +blockWrap('box')
          +blockTitle(locals.textBullet)
          +checkbox(locals.checkboxBullet)

    //- Блок преимущества
    +blockWrap('advantages')
      +blockWrap('box')
        +benefit(locals.benefitEmoticon)
        +benefit(locals.benefitCity)

    //- Блок отзывы
    +blockWrap('social')
      +blockWrap('box')
        +review(locals.reviewExample)