mixin checkbox__option(option, type='checkbox')
    if !option
        - option = {}
    if !option.mode
        - option.mode = ['default']       
    -
        tmp_parent='checkbox';
        idCounter++;
        checkboxCouner = type=='radio' ? checkboxCounter : checkboxCounter++;
    
    +blockWrap('option', option.mode)
        input(type= type id= type + '-' + idCounter name= type + '-' + checkboxCounter  value= option.text checked=option.checked) 
        label(for= type + '-' + idCounter).option= option.text