mixin checkbox__option(items=[{option: 'Option 1'}], type= 'checkbox', name)
    if type === 'radio'
        form.checkboxRadio.box__checkboxRadio
            each item in items
                -i++;
                .option.checkboxRadio__option
                    input(type= type id= item.option + '-' + i value= item.option name= name checked=item.checked) 
                    label(for= item.option + '-' + i).option= item.option 
    else if type === 'like'
        form.like.box__like
            each item in items
                -i++;
                .option.like__option
                    input(type= 'checkbox' id= item.option + '-' + i checked=item.checked) 
                    label(for= item.option + '-' + i value= item.option).option= item.option
                        .material-icons
    else if type === 'toggle'
        form.toggle.box__toggle
            each item in items
                -i++;
                .option.toggle__option
                    input(type= 'checkbox' id= item.option + '-' + i value= item.option checked=item.checked) 
                    label(for= item.option + '-' + i).option= item.option
                        div
    else
        form.checkboxGroup.box__checkboxGroup
            each item in items
                -i++;
                .option.checkboxGroup__option
                    input(type= type id= item.option + '-' + i value= item.option checked=item.checked) 
                    label(for= item.option + '-' + i).option= item.option