mixin like(like__title, like__button)
    .like.buttons__like
        include __title/like__title
        +like__title(like__title)
        include __button/like__button
        +like__button(like__button)