@import "../../common/color-item/__color-notion/color-item__color-notion.scss";

.colors-type.item-page__colors-type {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: space-between;
    .logo.colors-type__logo {
        width: 100%;
        padding: 30px;
    }
    .colors.colors-type__colors {
        padding: 37px 0 0 150px;
        .color-item.colors__color-item {
            padding: 10px;
            display: flex;
            flex-flow: row;
            align-items: center;
            .color-name.color-item__color-name {
                padding-left: 40px;
            }
        }
    }
    .type.colors-type__type {
        padding: 37px 150px 0 0;
        .type-item.type__type-item{
            display: flex;
            padding: 0 0 50px;
            flex-flow: row wrap;
            .type-name.type-item__type-name {
                padding: 0 30px;
            }
        }
    }
}
