@import "./__type-name/type-sample__type-name.scss";
@import "./__type-desc/type-sample__type-desc.scss";

.type-sample.type__type-sample {
    display: flex;
    padding: 0 0 50px;
    flex-flow: row nowrap;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}