.blockTitle {
    font-family: var(--blockTitleFontFamily, $mainFont);
    font-weight: var(--blockTitleFontWeight, normal);
    border-color: var(--blockTitleBorderColor, $darkShade025);
    font-style: normal;
    color: var(--blockTitleFont);
    line-height: inherit;
}

@import './_darkShade075/blockTitle_darkShade075.scss';
@import './_darkShade050/blockTitle_darkShade050.scss';
@import './_darkShade025/blockTitle_darkShade025.scss';
@import './_darkShade005/blockTitle_darkShade005.scss';
@import './_purple_BC9CFF/blockTitle_purple_BC9CFF.scss';
@import './_quicksandNorm/blockTitle_quicksandNorm.scss';
@import './_quicksandBold/blockTitle_quicksandBold.scss';
@import './_montserratNorm/blockTitle_montserratNorm.scss';
@import './_montserratBold/blockTitle_montserratBold.scss';
@import './_uppercase/blockTitle_uppercase.scss';