mixin blockTitle(titleArgs={selector:'h2', text:'default', mode: ['darkShade100', 'quicksandBold']}, parent= tmp_parent)
  -
    let title_class = 'blockTitle' + ' ' + parent + '__blockTitle';
    for (let k = 0; k < titleArgs.mode.length; k++) {
        title_class +=' ' + parent + '__' + 'blockTitle' + '_' + titleArgs.mode[k];
    }
  #{titleArgs.selector}(class= title_class)= titleArgs.text
  block