.blockTitle {
    font-family: var(--blockTitleFontFamily, $mainFont);
    font-weight: var(--blockTitleFontWeight, normal);
    font-style: normal;
    color: var(--blockTitleFont);
}

@import './_darkShade075/blockTitle_darkShade075.scss';
@import './_darkShade025/blockTitle_darkShade025.scss';
@import './_darkShade005/blockTitle_darkShade005.scss';
@import './_quicksandNorm/blockTitle_quicksandNorm.scss';
@import './_quicksandBold/blockTitle_quicksandBold.scss';
@import './_montserratNorm/blockTitle_montserratNorm.scss';
@import './_montserratBold/blockTitle_montserratBold.scss';
@import './_uppercase/blockTitle_uppercase.scss';