-   
    //- DarkShade 100
    locals.textDarkShade100 = {
        selector: 'h2',
        text: 'Dark Shade 100%',
        mode: ['darkShade100', 'quicksandBold']}

    locals.codeDarkShade = {
        selector: 'h2',
        text: '#1f2041',
        mode: ['darkShade100', 'quicksandNorm', 'uppercase']}

    //- DarkShade 075
    locals.darkShade075 = {
        mode: ['darkShade075']}

    locals.textDarkShade075 = {
        selector: 'h2',
        text: 'Dark Shade 75%',
        mode: ['darkShade100', 'quicksandBold']}

    //- DarkShade 050
    locals.darkShade050 = {
        mode: ['darkShade050']}

    locals.textDarkShade050 = {
        selector: 'h2',
        text: 'Dark Shade 50%',
        mode: ['darkShade100', 'quicksandBold']}

    //- DarkShade 025
    locals.darkShade025 = {
        mode: ['darkShade025']}

    locals.textDarkShade025 = {
        selector: 'h2',
        text: 'Dark Shade 25%',
        mode: ['darkShade100', 'quicksandBold']}

    //- DarkShade 005
    locals.darkShade005 = {
        mode: ['darkShade005']}

    locals.textDarkShade005 = {
        selector: 'h2',
        text: 'Dark Shade 5%',
        mode: ['darkShade100', 'quicksandBold']}

    //- Purple BC9CFF
    locals.purple = {
        mode: ['purple_BC9CFF']}

    locals.textPurple = {
        selector: 'h2',
        text: 'Purple',
        mode: ['darkShade100', 'quicksandBold']}

    locals.codePurple = {
        selector: 'h2',
        text: '#bc9cff',
        mode: ['darkShade100', 'quicksandNorm', 'uppercase']}

    //- Green 6FCF97
    locals.green = {
        mode: ['green_6FCF97']}

    locals.textGreen = {
        selector: 'h2',
        text: 'Purple',
        mode: ['darkShade100', 'quicksandBold']}

    locals.codeGreen = {
        selector: 'h2',
        text: '#6fcf97',
        mode: ['darkShade100', 'quicksandNorm', 'uppercase']}

    //- Types
        //- h1
    locals.tagH1 = {
            selector: 'h1',
            text: 'H1',
            mode: ['darkShade025']}

    locals.textH1 = {
            selector: 'h1',
            text: 'This one is the sub-section or widget title',
            mode: ['quicksandBold']}

        //- h2
    locals.tagH2 = {
            selector: 'h2',
            text: 'H2',
            mode: ['darkShade025']}

    locals.textH2 = {
            selector: 'h2',
            text: 'Next one is the item title inside widgets',
            mode: ['quicksandBold']}

        //- h3
    locals.tagH3 = {
            selector: 'h3',
            text: 'H3',
            mode: ['darkShade025']}

    locals.textH3 = {
            selector: 'h3',
            text: 'This is a label or CTA text',
            mode: ['montserrat', 'uppercase']}

        //- h4
    locals.tagH4 = {
            selector: 'h4',
            text: 'Body',
            mode: ['darkShade025']}

    locals.textH4 = {
            selector: 'h4',
            text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
            mode: ['montserrat', 'darkShade075']}