include ./colors&type-data

include /assets/pug/mixins
include /assets/pug/variables

include /components/logo/logo
include /components/blockTitle/blockTitle


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
  //- page - миксин отвечающий за информацию о странице, а так же передающий ее класс
  +page('Colors & type', 'This page countain the colors & type', 'pageColorsType')
body(class= page_class) 
  +logo() 
  //- Общий контейнер
  +blockWrap('container')

    //- Первая половина страницы - цвета
    +blockWrap('colors')
      include /components/blockTitle/blockTitle
      include /components/colorNotion/colorNotion          
      //- Dar Shade 100%
      +blockWrap('colorSample')
        +colorNotion()
        +blockWrap('colorTitle')
          +blockTitle(locals.textDarkShade100)
          +blockTitle(locals.codeDarkShade)          
      //- Dar Shade 75%
      +blockWrap('colorSample')
        +colorNotion(locals.darkShade075)
        +blockWrap('colorTitle')
          +blockTitle(locals.textDarkShade075)
          +blockTitle(locals.codeDarkShade)          
      //- Dar Shade 50%
      +blockWrap('colorSample')
        +colorNotion(locals.darkShade050)
        +blockWrap('colorTitle')
          +blockTitle(locals.textDarkShade050)
          +blockTitle(locals.codeDarkShade)                
      //- Dar Shade 25%
      +blockWrap('colorSample')
        +colorNotion(locals.darkShade025)
        +blockWrap('colorTitle')
          +blockTitle(locals.textDarkShade025)
          +blockTitle(locals.codeDarkShade)                
      //- Dar Shade 5%
      +blockWrap('colorSample')
        +colorNotion(locals.darkShade005)
        +blockWrap('colorTitle')
          +blockTitle(locals.textDarkShade005)
          +blockTitle(locals.codeDarkShade)                
      //- Purple
      +blockWrap('colorSample')
        +colorNotion(locals.purple)
        +blockWrap('colorTitle')
          +blockTitle(locals.textPurple)
          +blockTitle(locals.codePurple)                
      //- Green
      +blockWrap('colorSample')
        +colorNotion(locals.green)
        +blockWrap('colorTitle')
          +blockTitle(locals.textGreen)
          +blockTitle(locals.codeGreen)   
                
      //- Вторая половина страницы - типы
    +blockWrap('type')
      //- h1
      +blockWrap('typeSample')
        +blockWrap('tagGroup')
          +blockTitle(locals.tagH1)
        +blockWrap('exampleGroup')
          +blockTitle(locals.textH1)
      //- h2
      +blockWrap('typeSample')
        +blockWrap('tagGroup')
          +blockTitle(locals.tagH2)
        +blockWrap('exampleGroup')
          +blockTitle(locals.textH2)
      //- h3
      +blockWrap('typeSample')
        +blockWrap('tagGroup')
          +blockTitle(locals.tagH3)
        +blockWrap('exampleGroup')
          +blockTitle(locals.textH3)
      //- h4
      +blockWrap('typeSample')
        +blockWrap('tagGroup')
          +blockTitle(locals.tagH4)
        +blockWrap('exampleGroup')
          +blockTitle(locals.textH4)