.pageColorsType {
  .logo.pageColorsType__logo {
    margin: 30px;
  }

  .container.pageColorsType__container {
    margin: 37px 191px 0 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .colors.container__colors {
      display: flex;
      flex-flow: column wrap;
      flex-basis: 30%;

      .colorSample.colors__colorSample {
        padding: 10px;
        display: flex;
        flex-flow: row;
        align-items: center;

        .colorTitle.colorSample__colorTitle {
          padding-left: 40px;
        }
      }
    }

    .type.container__type {
      display: flex;
      flex-basis: 32.06%;
      align-content: flex-start;
      flex-flow: row wrap;

      .typeSample.type__typeSample {
        display: flex;
        margin-bottom: 50px;
        flex-flow: row nowrap;
        justify-content: space-between;

        .tagGroup.typeSample__tagGroup {
          display: flex;
          min-width: 37px;
          margin-right: 30px;
          justify-content: flex-end;
        }

        .exampleGroup.typeSample__exampleGroup {
          display: flex;
          justify-content: flex-start;
          max-width: 336px;
        }
      }
    }
  }
}

@import './../../components/colorNotion/colorNotion.scss';