mixin rateStars(rateStars)
    +blockWrap('rateStars')
        case rateStars
            when '1'
                .material-icons star 
                .material-icons star_border 
                .material-icons star_border
                .material-icons star_border 
                .material-icons star_border
            when '2'
                .material-icons star
                .material-icons star
                .material-icons star_border
                .material-icons star_border
                .material-icons star_border
            when '3'
                .material-icons star
                .material-icons star
                .material-icons star
                .material-icons star_border
                .material-icons star_border
            when '4'
                .material-icons star
                .material-icons star
                .material-icons star
                .material-icons star
                .material-icons star_border
            when '5'
                .material-icons star
                .material-icons star
                .material-icons star
                .material-icons star
                .material-icons star