.photo.wrapper__photo {
    margin-right: 10px;
    margin-bottom: 12px;
    float:left;
    width: 48px;
    height: 48px;
    // background: url('/assets/img/photo01.png');
    background-position: -20px -10px !important;
}