mixin dropdownGuests(type, title, description)
    include /pages/desktop/common/blockTitle/blockTitle
    include ../blockInput/blockInput
    +blockWrap('dropdownGuests')
        +blockInput('', 'hidden')
        +blockWrap('buttonDropdown')
            +blockWrap('text') Сколько гостей
            +blockWrap('caret')
        +blockWrap('list')
            +blockWrap('item')
                +blockTitle({
                    selector: 'h3',
                    text: 'Взрослые',
                    mode: ['montserratBold', 'uppercase']})
                +blockWrap('peopleCounter')
                    +blockWrap('decrement') -
                    +blockWrap('value') 0
                    +blockWrap('increment') +
            +blockWrap('reset') очистить
            +blockWrap('apply') применить