mixin dropdown(type, title, description, input)
    #example.example
        input(type='hidden', name='', value='')
        button
            span Сколько гостей
            span.caret
        ul
            li.value
                include /pages/desktop/common/blockTitle/blockTitle
                +blockTitle({
                    selector: 'h3',
                    text: 'Взрослые',
                    mode: ['montserratBold', 'uppercase']})
                #value2
                .decrement -
                #value 0
                .increment +
                #reset reset
                #apply apply
            li(value='2').reset очистить
            li(value='3').accept применить
                //- include /pages/desktop/common/blockTitle/blockTitle
                //- +blockTitle({
                //-     selector: 'h3',
                //-     text: 'Взрослые',
                //-     mode: ['montserratBold', 'uppercase']})
                //- #value2
                //- .decrement -
                //- #value 0
                //- .increment +
                //- #reset reset
                //- #apply apply
        //- select(data-display='Сколько гостей').wide
        //-     option(value='1' id='mo')
        //-     option(value='2') Дети
        //-     option(value='3') Младенцы
