mixin dropdown(id)
    include /pages/desktop/common/blockTitle/blockTitle
    include ../blockInput/blockInput
    +blockWrap('dropdown')(id=id)
        +blockInput('', 'hidden')
        +blockWrap('buttonDropdown')
            +blockWrap('text') Сколько гостей
            +blockWrap('caret')
        +blockWrap('list')
            include __item/dropdown__item
            +dropdown__item('взрослые')
            +dropdown__item('дети')
            +blockWrap('item', 'reset') очистить
            +blockWrap('item', 'apply') применить