.dropdown {
  width: 266px;
  min-height: 44px;
  border: 1px solid $darkShade025;
  box-sizing: border-box;
  border-radius: 2px;
  &*[class*='_large'] {
    width: 320px;
  }
  &.expanded {
    border: 1px solid $darkShade050;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .buttonDropdown {
    .blockTitle {
      margin: 12px auto 8px 15px;
    }
    .caret {
      position: absolute;
      top: 0px;
      right: 10px;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 2px;
      vertical-align: middle;
      background: url('/assets/img/expand_more-24px.svg');
    }
  }
  .list {
    position: absolute;
    top: 43px;
    left: -1px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border: 1px solid $darkShade050;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $darkShade005;
    visibility: hidden;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    &*[class*='_large'] {
      width: 320px;
    }
    &.open {
      visibility: visible;
    }
    flex-flow: row wrap;
    &__blockTitle {
      flex-basis: 20%;
      font-size: inherit;
      &_apply {
        margin: 11px 7px 13px auto;
      }
      &_reset {
        margin: 11px auto 13px 7px;
        visibility: hidden;
        &Visible {
          visibility: visible;
        }
      }
    }
  }  
}

@import './__item/dropdown__item.scss';