mixin dropdownGuests(type, title, description)
    include /pages/desktop/common/blockTitle/blockTitle
    include ../blockInput/blockInput
    +blockWrap('dropdownGuests')
        -tmp_parent = 'dropdownGuests'
        +blockInput('', 'hidden')
        +blockWrap('button')
            +blockWrap('text') Сколько гостей
            +blockWrap('caret')
        ul
            li
                +blockTitle({
                    selector: 'h3',
                    text: 'Взрослые',
                    mode: ['montserratBold', 'uppercase']})
                .peopleCounter
                    .decrement -
                    #value 0
                    .increment +
            li.reset очистить
            li.apply применить
        
