mixin dropdown(dropdown_mode={size: ['default']}, dropdown_text, dropdown_item, id)
    include /pages/desktop/common/blockTitle/blockTitle
    include ../blockInput/blockInput
    if dropdown_mode['type'] == 'data'
        +blockInput('ДД.ММ.ГГГГ', 'text', '', ['masked'])
    else
        +blockWrap('dropdown', dropdown_mode['size'])(id=id)
            +blockInput('', 'hidden')
            +blockWrap('buttonDropdown')
                +blockTitle({
                    selector: 'div',
                    text: dropdown_text,
                    mode: ['darkShade075', 'montserrat']})
                +blockWrap('caret')
            +blockWrap('list', dropdown_mode['size'])
                include __item/dropdown__item
                each item in dropdown_item
                    if item.unique
                        +dropdown__item(item)(value=item.title data_plural=item.data)
                    else
                        +dropdown__item(item)(data_plural=item.data)
                +blockWrap('reset')
                    +blockTitle({
                        selector: 'div',
                        text: 'очистить',
                        mode: ['darkShade050', 'montserratBold', 'uppercase']})
                +blockWrap('apply')
                    +blockTitle({
                        selector: 'div',
                        text: 'применить',
                        mode: ['purple_BC9CFF', 'montserratBold', 'uppercase']})