.dropdown {
    width: 320px;
    height: 44px;
    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        background: #d5dddf;
        .decrement, .increment, .value {
            justify-content: center;
            align-self: center;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
        }
    }
}

.open {
    background: #000;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%;
    li.value {
        margin: 7px 7px 7px 14px;
        display: flex;
        flex-flow: row nowrap;
        flex-basis: fill;
        .itemCounter {
            display: flex;
            flex-flow: row nowrap;
            flex-basis: 50%;
            justify-content: flex-end;
        }
    }
}



/* select */
.jq-selectx {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .jq-selectx * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .jq-selectx button {
    position: relative;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    text-align: left;
  }
  
  .jq-selectx ul {
    width: 100%;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .jq-selectx ul.open {
    visibility: visible;
  }
  
  .jq-selectx ul li {
    padding: 5px;
    cursor: pointer;
  }
  
  .jq-selectx ul li:hover {
    background-color: #efefef;
  }
  
  .jq-selectx ul li.selected {
    background-color: #efefef;
  }
  
  .jq-selectx .caret {
    position: absolute;
    top: 12px;
    right: 7px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  
  /* animations */
  .jq-selectx-fade {
    transition: visibility 0.4s, opacity 0.4s;
    opacity: 0;
  }
  
  .jq-selectx-fade.open {
    opacity: 1;
  }
  
  .jq-selectx-slide {
    transition: visibility 0.4s cubic-bezier(0, 1, 0.5, 1), transform 0.4s cubic-bezier(0, 1, 0.5, 1);
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .jq-selectx-slide.open {
    transform: scaleY(1);
  }
  
  .example {
    width: 100px;
  }
  