.dropdownGuests {
    width: 100% !important;
}
.dropdownGuests {
    width: 320px;
    height: 44px;
    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        background: #d5dddf;
        .decrement, .increment, #value {
            justify-content: center;
            align-self: center;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
        }
    }
}

.open {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%;
    li.value {
        margin: 7px 7px 7px 14px;
        display: flex;
        flex-flow: row nowrap;
        flex-basis: fill;
        .peopleCounter {
            display: flex;
            flex-flow: row nowrap;
            flex-basis: 50%;
            justify-content: flex-end;
        }
    }
}

