mixin dropdown(dropdown_item, dropdown_mode, id)
    include /pages/desktop/common/blockTitle/blockTitle
    include ../blockInput/blockInput
    +blockWrap('dropdown', dropdown_mode['type'])(id=id)
        +blockInput('', 'hidden')
        +blockWrap('buttonDropdown')
            +blockTitle({
                selector: 'div',
                text: 'Сколько гостей',
                mode: ['darkShade075', 'montserrat']})
            +blockWrap('caret')
        +blockWrap('list', dropdown_mode['type'])
            include __item/dropdown__item
            each item in dropdown_item
                if item.unique
                    +dropdown__item(item)(value=item.title data_plural=item.data)
                else
                    +dropdown__item(item)(data_plural=item.data)
            +blockTitle({
                selector: 'div',
                text: 'очистить',
                mode: ['darkShade050', 'montserratBold', 'uppercase', 'reset']})
            +blockTitle({
                selector: 'div',
                text: 'применить',
                mode: ['purple_BC9CFF', 'montserratBold', 'uppercase', 'apply']})