.menu.header__menu {
    display: flex;
    vertical-align: middle;

    div {
        align-self: center;
    }

    h3 {
        font-size: 14px;
        line-height: 17px;
    }
}

@import './__separator/menu__separator.scss';