mixin blockTitle(options={selector:'h2', text:'', mode: ['darkShade100', 'quicksandBold']}, parent= tmp_parent)
  if !options
    - options = {}
  if !options.mode
    - options.mode = []
  -
    let title_class = 'blockTitle' + ' ' + parent + '__blockTitle';
    for (let k = 0; k < options.mode.length; k++) {
        title_class +=' '  + 'blockTitle' + '_' + options.mode[k];
    }
  

  #{options.selector}(class= title_class id!=attributes.id value!=attributes.value data-plural!=attributes.data_plural)= options.text
  block