.colorSample.colors__colorSample {
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    .colorTitle.colorSample__colorTitle {
        padding-left: 40px;
    }
}

// @import './__colorNotion/colorSample__colorNotion.scss';