mixin logo(options)

  if !options
    - options = {}
  if !options.mode
    - options.mode = []

  +blockWrap('logo', options.mode)
      if options.mode == ''
        img(src='./../../assets/img/logo.svg')
      else
        img(src='./../../assets/img/coloredLogo.svg')