mixin page(title, descr, page_name)
  -page_class = page_name
  -tmp_parent = page_name
    title= title
    meta(name='description', content=descr)

mixin blockWrap(block_name, block_mode)
    -
        let parent = tmp_parent;
        let blockMode = block_name + ' ' + tmp_parent + '__' + block_name;
    if block_mode
      -
        for(let i = 0; i < block_mode.length && block_mode.length !== undefined; i++ ) {
        blockMode += ' ' + tmp_parent + '__' + block_name + '_' + block_mode[i] + ' ';
        }
      div(class=blockMode)
        if block
        - tmp_parent = block_name
        block
        - tmp_parent = parent
    else 
      div(class=block_name + ' ' + tmp_parent + '__' + block_name)
        if block
        - tmp_parent = block_name
        block
        - tmp_parent = parent

mixin star(unchecked_star= 'M10 13.4219L13.75 15.6719L12.7656 11.4062L16.0938 8.5L11.6875 8.125L10 4.09375L8.3125 8.125L3.90625 8.5L7.23438 11.4062L6.25 15.6719L10 13.4219ZM19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438Z')
  svg(width='20' height='19' viewbox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d= unchecked_star fill='url(#paint0_linear)')
    defs
      lineargradient#paint0_linear(x1='10' y1='-2' x2='10' y2='22' gradientunits='userSpaceOnUse')
        stop(stop-color='#BC9CFF')
        stop(offset='1' stop-color='#8BA4F9')
  