mixin title(title, descr, pageClass)
  title= title
  meta(name='description', content=descr)

mixin star(unchecked_star= 'M10 13.4219L13.75 15.6719L12.7656 11.4062L16.0938 8.5L11.6875 8.125L10 4.09375L8.3125 8.125L3.90625 8.5L7.23438 11.4062L6.25 15.6719L10 13.4219ZM19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438Z')
  svg(width='20' height='19' viewbox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d= unchecked_star fill='url(#paint0_linear)')
    defs
      lineargradient#paint0_linear(x1='10' y1='-2' x2='10' y2='22' gradientunits='userSpaceOnUse')
        stop(stop-color='#BC9CFF')
        stop(offset='1' stop-color='#8BA4F9')

mixin next-arrow()
  .classvas
  //- svg(width='18', height='17', viewBox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
  //-   path(d='M9 0.426758L17.0156 8.44238L9 16.458L7.59375 15.0518L13.1719 9.42676H0.984375V7.45801H13.1719L7.59375 1.83301L9 0.426758Z', fill='white')
  