mixin title(title, descr, pageClass)
        title= title
        meta(name="description", content=descr)

mixin color(name="Default name", code="Default code")
        .color-item__color-name= name
        .color-item__color-name= code