mixin title(title, descr)
    title= title
    meta(name="description", content=descr)




        //- block variables
        //-   -
        //-     let menu = [                
        //-         {url: "/home", text: "Home"},
        //-         {url: "/abt", text: "About Us"},
        //-         {url: "/serv", text: "Services"},
        //-         {url: "/care", text: "Careers"},
        //-         {url: "/nws", text: "News"},
        //-         {url: "/docs", text: "Documentation"}
        //-     ];
        //- each element in menu
        //-     li.navigation__item
        //-       a(href=element.url) #{element.text}