include ../../assets/pug/mixins
include ../../assets/pug/variables

    include ../layout/main
      +page('Main navigation page', 'This page countain the navigation source', 'pageNavigation')
    body.pageNavigation
      +blockWrap('container')
          ul.navigation|UI kit
            each element in menu_ui
              li.navigationItem
                a(href=element.url) #{'Page ' + i++ + ': ' + element.text}         
          ul.navigation|Website pages
            each element in menu_landing
              li.navigationItem
                a(href=element.url) #{'Page ' + i++ + ': ' + element.text}