mixin type-desc(TypeDesc, TypeMode)
 -
        var inlineClass = 'type-sample__type-desc';
        for (let k = 0; k < TypeMode.length; k++) {
            inlineClass += ' type-sample__type-desc' + '_' + TypeMode[k];
        }
 .type-sample.type-sample__type-desc
        div(class= inlineClass) #{TypeDesc}