mixin dropdown__apply()
    +blockWrap('apply')
        +blockTitle({
            selector: 'div',
            text: 'применить',
            mode: ['purple_BC9CFF', 'montserratBold', 'uppercase']})