.option.list__option_circle {
    input+label {
        position: relative;
        padding: 0 0 0 20px;
        cursor: pointer;
    }
    input+label:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $darkShade025;
        border:none;
    }
    input+label:after {
        display: none;
    }
}