.card[class*='__card'] {
    width: 380px;
    padding: 40px 30px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    .card__order {
        &Any {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        
        &First {
            display: flex;
            flex-flow: c nowrap;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        &Second {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }

        &Third {
            display: flex;
            &:not(:first-child) {
                margin-top: 30px;
            }
            h4:first-of-type {
                align-self: center;
            }

            // @include media-breakpoint-up($sm) {
            //   margin-top: 0;
            //   margin-left: 1rem;
            // }
        }
    }
}