include /pages/cards/cards-data
include ../blockTitle/blockTitle
include ../dropdown/dropdown
include ../button/button
include ../checkbox/checkbox
include ../roomDetails/roomDetails

mixin card(options)
    if !options
        - options = {}
    if !options.items
        - options.items = []
    
    +blockWrap('card')
        each item in options.items 
            if item.indent == undefined
                +blockWrap('orderAny')
                    +components(item.name, item.options)   
            if item.indent == 'first'
                +blockWrap('orderFirst')
                    +components(item.name, item.options)  
                    block option
            if item.indent == 'second'
                append option
                    +blockWrap('orderSecond')
                        +components(item.name, item.options)
            if item.indent == 'third'
                    +blockWrap('orderThird')
                        +components(item.name, item.options)