.pageNavigation {
    background: #E5E5E5;
    .container.pageNavigation__container{
            margin-top: 1.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            .navigation {
                width: 30%;
                margin: 20px;
                padding: 20px;
                border-radius: 20px;
                font-size: 40px;
                background: #ffffff;

                &Item {
                    padding-top: 10px;
                    font-size: 20px;
                }
            }
        }
    }
