/* select */
.jq-selectx {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .buttonDropdown {
    position: relative;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    text-align: left;
  }
  .list {
    width: 100%;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    &.open {
      visibility: visible;
    }
    .item {
      padding: 5px;
      cursor: pointer;
      &:hover {
        background-color: #efefef;
      }
      &.selected {
        background-color: #efefef;
      }
    }
  }
  .caret {
    position: absolute;
    top: 12px;
    right: 7px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}

/* animations */
.jq-selectx-fade {
  transition: visibility 0.4s, opacity 0.4s;
  opacity: 0;
  &.open {
    opacity: 1;
  }
}

.jq-selectx-slide {
  transition: visibility 0.4s cubic-bezier(0, 1, 0.5, 1), transform 0.4s cubic-bezier(0, 1, 0.5, 1);
  transform: scaleY(0);
  transform-origin: top;
  &.open {
    transform: scaleY(1);
  }
}
