// Fonts
$mainFont                : 'Conv_Montserrat-Regular', sans-serif;
    //Title fonts
$quicksandBold           : 'Conv_Quicksand-Regular', sans-serif;
$montserrat              : $mainFont;
$montserratBoldUppercase : $mainFont;

//Colors
$mainColor               : rgba(31, 32, 65, 1.00);
$darkShade100            : rgba(31, 32, 65, 1.00);
$darkShade075            : rgba(31, 32, 65, 0.75);
$darkShade050            : rgba(31, 32, 65, 0.50);
$darkShade025            : rgba(31, 32, 65, 0.25);
$darkShade010            : rgba(31, 32, 65, 0.10);
$darkShade005            : rgba(31, 32, 65, 0.05);
$purple-color            : #BC9CFF;
$green-color             : #6FCF97;

// Size
$desktopWidth            : 1440px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;






// // Font
// $mainFont                : 'Conv_Montserrat-Regular', Helvetica, Arial, sans-serif;

// // Size
// $mainFontColor           : #101010;
// $mainFontSize            : 18px;
// $mainFontWeight          : 400;
// $mainLineHeight          : 1.4;



// // Main color
// $default-color           : #ffffff;
// $primary-color           : #444ce0;
// $success-color           : #26de81;
// $danger-color            : #fc5c65;
// $warning-color           : #fed330;
// $light-color             : #999999;


// // Neutral Color
// $neutral-primary         : #303133;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// // Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;