include utils/mixins
include utils/variables


    include layout/main
      +page('Cards', 'This page countain the Cards', 'pageCards')
    body(class= page_class)
      
      +blockWrap('logo')
        include desktop/pages/cards/logo/logo

      //- Общий контейнер
      +blockWrap('container')
        +blockWrap('box')
        +blockWrap('box')
        +blockWrap('box')
        +blockWrap('box')
        +blockWrap('box')
        +blockWrap('box')
        +blockWrap('box')
