include utils/mixins

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    +title('colors', 'desc')
    block head

  body
    .item-page
      //- block header
      
  block script