include utils/mixins
include utils/variables


    include layout/main
      +page('Colors & type', 'This page countain the colors & type', 'colors-type')
    body.page
      +blockWrap('logo')
        include desktop/pages/colors&type/logo/logo
      +blockWrap('container')
        +blockWrap('colors')
          include desktop/pages/colors&type/color-sample/color-sample
          +color-sample('Dark Shade 100%','#1F2041', ['dark-shade-100_1F2041'])
          +color-sample('Dark Shade 75%','#1F2041', ['dark-shade-075_1F2041'])
          +color-sample('Dark Shade 50%','#1F2041', ['dark-shade-050_1F2041'])
          +color-sample('Dark Shade 25%','#1F2041', ['dark-shade-025_1F2041'])
          +color-sample('Dark Shade 5%','#1F2041', ['dark-shade-005_1F2041'])
          +color-sample('Purple','#BC9CFF', ['purple_BC9CFF'])
          +color-sample('Green','#6FCF97', ['green_6FCF97'])
        +blockWrap('type')
          include desktop/pages/colors&type/blockTitle/blockTitle
          +blockWrap('typeSample')
            +blockWrap('tagGroup')
              +blockTitle('h1', 'H1', ['darkShade025'])
            +blockWrap('exampleGroup')
              +blockTitle('h1', 'This one is the sub-section or widget title', ['quicksandBold'])
          +blockWrap('typeSample')
            +blockWrap('tagGroup')
              +blockTitle('h2', 'H2', ['darkShade025'])
            +blockWrap('exampleGroup')
              +blockTitle('h2', 'Next one is the item title inside widgets', ['quicksandBold'])
          +blockWrap('typeSample')
            +blockWrap('tagGroup')
              +blockTitle('h3', 'H3', ['darkShade025'])
            +blockWrap('exampleGroup')
              +blockTitle('h3', 'This is a label or CTA text', ['montserratBoldUppercase'])
          +blockWrap('typeSample')
            +blockWrap('tagGroup')    
              +blockTitle('h4', 'Body', ['darkShade025'])
            +blockWrap('exampleGroup')
              +blockTitle('h4', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', ['montserrat', 'darkShade075'])