include utils/mixins
include utils/variables

    include layout/main
      +title('Colors & type', 'This page countain the colors & type')
    body.item-page
      .colors-type.item-page__colors-type
        .logo.colors-type__logo
          include ../common.blocks/logo/logo