include utils/mixins
include utils/variables

    include layout/main
      +title('Colors & type', 'This page countain the colors & type')
    body.item-page
      .colors-type.item-page__colors-type
        .logo.colors-type__logo
          include ../static/desktop/common/logo/logo
        .colors.colors-type__colors
          include ../static/desktop/common/color-item/color-item
          include ../static/desktop/common/color-item/color-item
          include ../static/desktop/common/color-item/color-item
          include ../static/desktop/common/color-item/color-item
          include ../static/desktop/common/color-item/color-item
          include ../static/desktop/common/color-item/color-item
          include ../static/desktop/common/color-item/color-item
        .type.colors-type__type
          include ../static/desktop/common/type-item/type-item
          include ../static/desktop/common/type-item/type-item
          include ../static/desktop/common/type-item/type-item
          include ../static/desktop/common/type-item/type-item