include utils/mixins
include layout/main


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    +title('colors', 'desc')
    block head

  body
    .item-page__colors
      .container
        .content-wrapper
          .logo-gray-wrapper
            block logo
              |1
          .colors-wrapper
            block colors
          .type-wrapper
            block type

                          
      
  block script