include utils/mixins
include utils/variables

    include layout/main
      //- page - миксин отвечающий за информацию о странице, а так же передающий ее класс
      +page('Colors & type', 'This page countain the colors & type', 'pageColorsType')
    body(class= page_class)
      //- blockWrap - обертка для блоков
      +blockWrap('logo')
        include desktop/pages/colors&type/logo/logo
      +blockWrap('container')
        +blockWrap('colors')
          include desktop/pages/colors&type/colorSample/colorSample
          //- colorSample - миксин отвечающий за создание блоков "Образцы цветов"
          +colorSample()
          +colorSample({
            colorArgs: {
              notion: ['darkShade075']},
            nameArgs: {
              selector: 'h2',
              text: 'Dark Shade 75%',
              mods: ['darkShade100', 'quicksandBold']},
            codeArgs: {
              selector: 'h2',
              text: '#1f2041',
              mods: ['darkShade100', 'quicksand', 'uppercase']},
            })
          +colorSample({
            colorArgs: {
              notion: ['darkShade050']},
            nameArgs: {
              selector: 'h2',
              text: 'Dark Shade 50%',
              mods: ['darkShade100', 'quicksandBold']},
            codeArgs: {
              selector: 'h2',
              text: '#1f2041',
              mods: ['darkShade100', 'quicksand', 'uppercase']},
            })
          +colorSample({
            colorArgs: {
              notion: ['darkShade025']},
            nameArgs: {
              selector: 'h2',
              text: 'Dark Shade 25%',
              mods: ['darkShade100', 'quicksandBold']},
            codeArgs: {
              selector: 'h2',
              text: '#1f2041',
              mods: ['darkShade100', 'quicksand', 'uppercase']},
            })
          +colorSample({
            colorArgs: {
              notion: ['darkShade005']},
            nameArgs: {
              selector: 'h2',
              text: 'Dark Shade 5%',
              mods: ['darkShade100', 'quicksandBold']},
            codeArgs: {
              selector: 'h2',
              text: '#1f2041',
              mods: ['darkShade100', 'quicksand', 'uppercase']},
            })
          +colorSample({
            colorArgs: {
              notion: ['purple_BC9CFF']},
            nameArgs: {
              selector: 'h2',
              text: 'Purple',
              mods: ['darkShade100', 'quicksandBold']},
            codeArgs: {
              selector: 'h2',
              text: '#bc9cff',
              mods: ['darkShade100', 'quicksand', 'uppercase']},
            })
          +colorSample({
            colorArgs: {
              notion: ['green_6FCF97']},
            nameArgs: {
              selector: 'h2',
              text: 'Green',
              mods: ['darkShade100', 'quicksandBold']},
            codeArgs: {
              selector: 'h2',
              text: '#6fcf97',
              mods: ['darkShade100', 'quicksand', 'uppercase']},
            })
        +blockWrap('type')
          include desktop/pages/colors&type/blockTitle/blockTitle
          +blockWrap('typeSample')
            +blockWrap('tagGroup')
              +blockTitle('h1', 'H1', ['darkShade025'])
            +blockWrap('exampleGroup')
              +blockTitle('h1', 'This one is the sub-section or widget title', ['quicksandBold'])
          +blockWrap('typeSample')
            +blockWrap('tagGroup')
              +blockTitle('h2', 'H2', ['darkShade025'])
            +blockWrap('exampleGroup')
              +blockTitle('h2', 'Next one is the item title inside widgets', ['quicksandBold'])
          +blockWrap('typeSample')
            +blockWrap('tagGroup')
              +blockTitle('h3', 'H3', ['darkShade025'])
            +blockWrap('exampleGroup')
              +blockTitle('h3', 'This is a label or CTA text', ['montserratBold', 'uppercase'])
          +blockWrap('typeSample')
            +blockWrap('tagGroup')    
              +blockTitle('h4', 'Body', ['darkShade025'])
            +blockWrap('exampleGroup')
              +blockTitle('h4', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', ['montserrat', 'darkShade075'])