include utils/mixins
include utils/variables


    include layout/main
      +title('Form Elements', 'This page countain the form & elements')
    body.item-page
      .logo.item-page__logo
        include /static/desktop/pages/formelements/logo/logo
      .form-elements.item-page__form-elements
        .mixed-content.form-elements__mixed-content
          .forms.mixed-content__forms
            include /static/desktop/pages/formelements/text-field/text-field
            include /static/desktop/pages/formelements/dropdown/dropdown
            +text-field()
            +text-field(type, 'text field','hover / focus', 'This is pretty awesome')
            +dropdown()
            +text-field(type, 'masked text field', 'default', 'ДД.ММ.ГГГГ')
            //- .dropdowns.mixed-content__dropdowns
            +dropdown('date')
            +dropdown('date')
            +dropdown('date')
            +text-field(type, 'subscription text field', '')
          .buttons.mixed-content__buttons
            include /static/desktop/pages/formelements/checkbox/checkbox
            include /static/desktop/pages/formelements/toggle/toggle
            +checkbox(type, title,
             [{case:'Можно курить'},
              {case:'Можно с питомцами', checked:'checked'},
              {case:'Можно пригласить гостей \n(до 10 человек)', checked:'checked'}])
            +checkbox('radio', 'radio buttons', [{case:'Мужчина', checked:'checked'}, {case:'Женщина'}])
            //- +radio-buttons()
            +buttons__toggle(title, [{case:'Получать спецпредложения', checked:'checked'}, {case:'Получать спецпредложения'}])
            //- +like-button()
            //- +rate-button()
          .elements.mixed-content__elements
            //- +range-slider()
            //- +buttons()
            //- +pagination()
        .dropdowns.form-elements__dropdowns
          //- +dropdown()
          //- +dropdown()
          //- +dropdown()
          //- +dropdown()
        .checkboxes.form-elements__checkboxes
          //- +checkbox()
          //- +checkbox()
          //- +checkbox()
          //- +checkbox()
        .benefits.form-elements__benefits
          //- +benefits()
          //- +benefits()
          //- +comment()