include utils/mixins
include utils/variables


    include layout/main
      +page('Form Elements', 'This page countain the form & elements', 'pageFormElements')
    body(class= page_class)
      
      +blockWrap('logo')
        include desktop/pages/formelements/logo/logo

      //- Общий контейнер
      +blockWrap('container')
        //- Содержимое первой по горизонтали половины страницы
        +blockWrap('mixedContent')
          //- Первая колонка - формы
          +blockWrap('forms')
            include desktop/common/blockTitle/blockTitle
            include desktop/pages/formelements/blockInput/blockInput
            //- Текстовое поле
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'text field',
                mode: ['montserratBold', 'uppercase']})
              +blockTitle({
                selector: 'h3',
                text: 'default',
                mode: ['darkShade050', 'uppercase']})
              +blockInput()
            //- Текстовое поле сфокусированное по умолчанию/при наведении
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'text field',
                mode: ['montserratBold', 'uppercase']})
              +blockTitle({
                selector: 'h3',
                text: 'hover / focus',
                mode: ['darkShade050', 'uppercase']})
              +blockInput({
                text:'This is pretty awesome'})(autofocus)
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'dropdown',
                mode: ['montserratBold', 'uppercase']})
              +blockTitle({
                selector: 'h3',
                text: 'default',
                mode: ['darkShade050', 'uppercase']})
              +blockInput({
                type:'text',
                text:'',
                value:'Сколько гостей',
                mode:['dropdown','large']})(disabled='disabled')
            //- Текстовое поле с маской
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'masked text field',
                mode: ['montserratBold', 'uppercase']})
              +blockTitle({
                selector: 'h3',
                text: 'default',
                mode: ['darkShade050', 'uppercase']})
              +blockInput({
                type:'text',
                text:'ДД.ММ.ГГГГ',
                value:'',
                mode:['masked']})
            //- Два дропдауна - даты
            +blockWrap('box', ['slim'])
              +blockWrap('dateDropdown')
                +blockTitle({
                  selector: 'h3',
                  text: 'date dropdown',
                  mode: ['montserratBold', 'uppercase']})
                +blockInput({
                  type:'text',
                  text:'ДД.ММ.ГГГГ',
                  value:'ДД.ММ.ГГГГ',
                  mode:['dropdown', 'small']})
            +blockWrap('box', ['slim'])
              +blockWrap('dateDropdown')
                +blockTitle({
                  selector: 'h3',
                  text: 'date dropdown',
                  mode: ['montserratBold', 'uppercase']})
                +blockInput({
                  type:'text',
                  text:'ДД.ММ.ГГГГ',
                  value:'19.08.2019',
                  mode:['dropdown','small']})
            +blockWrap('box')
              +blockWrap('dateDropdown')
                +blockTitle({
                  selector: 'h3',
                  text: 'filter date dropdown',
                  mode: ['montserratBold', 'uppercase']})
                +blockInput({
                  text:'',
                  type:'text',
                  value:'19 авг - 23 авг',
                  mode:['dropdown','medium']})
            +blockWrap('box')
              +blockWrap('dateDropdown')
                +blockTitle({
                  selector: 'h3',
                  text: 'subscrption text field',
                  mode: ['montserratBold', 'uppercase']})
                +blockInput({
                  type:'text',
                  text:'Email',
                  value:'',
                  mode:['post','medium']})
          //- Вторая колонка - формы
          +blockWrap('checkboxTypes')
            include desktop/pages/formelements/checkbox/checkbox
            include desktop/pages/formelements/rate/rate
            //- Чекбокс простой
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'checkbox buttons',
                mode: ['montserratBold', 'uppercase']})
              +checkbox(type, [
                {case:'Можно курить'},
                {case:'Можно с питомцами', checked:'checked'},
                {case:'Можно пригласить гостей \n(до 10 человек)', checked:'checked'}])
            //- Чекбокс радио
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'radio buttons',
                mode: ['montserratBold', 'uppercase']})
              +checkbox('radio', [
                {case:'Мужчина', checked:'checked'},
                {case:'Женщина'}])
            //- Тоггл
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'toggle',
                mode: ['montserratBold', 'uppercase']})
              +checkbox('toggle', [
                {case:'Получать спецпредложения', checked:'checked'},
                {case:'Получать спецпредложения'}])
            //- Лайк буттон
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'like button',
                mode: ['montserratBold', 'uppercase']})
              +checkbox('like', [
                {case:'2'},
                {case:'12', checked:'checked'}])
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'rate button',
                mode: ['montserratBold', 'uppercase']})
              +rate([{count: 5, rate: 4}, {count: 5, rate: 5}])           
          +blockWrap('elements')
            include desktop/pages/formelements/rangeSlider/rangeSlider
            include desktop/pages/formelements/button/button
            include desktop/pages/formelements/pagination/pagination
            +rangeSlider()
            +blockWrap('buttons')
              +blockTitle({
                  selector: 'h3',
                  text: 'buttons',
                  mode: ['montserratBold', 'uppercase']})
              +blockWrap('box')
                +button('fillDefault','click me')
                +button('fillDisabled','click me')
              +blockWrap('box')
                +button('borderedDefault','click me')
                +button('borderedDisabled','click me')
              +blockWrap('box')
                +button('hollowDefault','click me')
                +button('hollowDisabled','click me')
              +blockWrap('box')
                +button('fillLarge','перейти к оплате')
            +blockWrap('box')
                +blockTitle({
                  selector: 'h3',
                  text: 'pagination',
                  mode: ['montserratBold', 'uppercase']})
                +pagination('1 – 12 из 100+ вариантов аренды')
        +blockWrap('dropdowns')
          +blockWrap('wrapRoom')
            //- Дропдаун простой свернутый
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'dropdown',
                mode: ['montserratBold', 'uppercase']})
              +blockTitle({
                selector: 'h3',
                text: 'default',
                mode: ['darkShade050', 'uppercase']})
              +blockInput({
                  type:'text',
                  text:'',
                  value:'2 спальни, 2 кровати...',
                  mode:['dropdown','large']})(disabled='disabled')
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'dropdown',
                mode: ['montserratBold', 'uppercase']})
              +blockTitle({
                selector: 'h3',
                text: 'expanded',
                mode: ['darkShade050', 'uppercase']})
              +blockInput({
                  text:'',
                  type:'text',
                  value:'2 спальни, 2 кровати...',
                  mode:['dropdown','large', 'opened']},
                    {case:
                      [{title: 'спальни', qty: 2, unique: true,
                      data: {
                      single:'спальня',
                      numbering: 'спальни',
                      plural: 'спален'
                      }},
                      {title: 'кровати', qty: 2, unique: true,
                      data: {
                      single:'кровать',
                      numbering: 'кровати',
                      plural: 'кроватей'
                      }},
                      {title: 'ванные комнаты', qty: 0, unique: true,
                      data: {
                      single:'ванная комната',
                      numbering: 'ванные комнаты',
                      plural: 'ванных комнат'
                      }}]
                    })(disabled='disabled')
          +blockWrap('wrapGuests')
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'dropdown',
                mode: ['montserratBold', 'uppercase']})
              +blockInput({
                    text:'',
                    type:'text',
                    value:'Сколько гостей',
                    mode:['dropdown','large', 'opened']},
                    {case:
                      [{title: 'взрослые', qty: 0, unique: false,
                      data: {
                      single:'гость',
                      numbering: 'гостя',
                      plural: 'гостей'
                      }},
                      {title: 'дети', qty: 0, unique: false,
                      data: {
                      single:'гость',
                      numbering: 'гостя',
                      plural: 'гостей'
                      }},
                      {title: 'младенцы', qty: 0, unique: true,
                      data: {
                      single:'младенец',
                      numbering: 'младенца',
                      plural: 'младенцев'
                      }}]})(disabled='disabled')
            +blockWrap('box')
              +blockTitle({
                selector: 'h3',
                text: 'dropdown',
                mode: ['montserratBold', 'uppercase']})
              +blockInput({
                    text:'',
                    type:'text',
                    value:'Сколько гостей',
                    mode:['dropdown','large', 'opened']},
                    {case: 
                      [{title: 'взрослые', qty: 2, unique: false,
                      data: {
                      single:'гость',
                      numbering: 'гостя',
                      plural: 'гостей'
                      }},
                      {title: 'дети', qty: 1, unique: false,
                      data: {
                      single:'гость',
                      numbering: 'гостя',
                      plural: 'гостей'
                      }},
                      {title: 'младенцы', qty: 0, unique: true,
                      data: {
                      single:'младенец',
                      numbering: 'младенца',
                      plural: 'младенцев'
                      }}]
                    })(disabled='disabled')
        +blockWrap('checkboxList')
          


      //- .logo.item-page__logo
      //-   include desktop/pages/formelements/logo/logo
      //- .form-elements.item-page__form-elements
      //-   .mixed-content.form-elements__mixed-content
      //-     .forms.mixed-content__forms
      //-       include desktop/pages/formelements/text-field/text-field
      //-       include desktop/pages/formelements/dropdown/dropdown
      //-       +text-field()
      //-       +text-field(type, 'text field','hover / focus', 'This is pretty awesome')
      //-       +dropdown(type, title, description,'Сколько гостей')
      //-       +text-field(type, 'masked text field', 'default', 'ДД.ММ.ГГГГ')
      //-       //- .dropdowns.mixed-content__dropdowns
      //-       +dropdown('date')
      //-       +dropdown('date')
      //-       +dropdown('date')
      //-       +text-field(type, 'subscription text field', '')
      //-     .buttons.mixed-content__buttons
      //-       include desktop/pages/formelements/checkbox/checkbox
      //-       include desktop/pages/formelements/toggle/toggle
      //-       include desktop/pages/formelements/like/like
      //-       include desktop/pages/formelements/rate/rate
      //-       +checkbox(type, title,
      //-        [{case:'Можно курить'},
      //-         {case:'Можно с питомцами', checked:'checked'},
      //-         {case:'Можно пригласить гостей \n(до 10 человек)', checked:'checked'}])
      //-       +checkbox('radio', 'radio buttons', [{case:'Мужчина', checked:'checked'}, {case:'Женщина'}])
      //-       //- +radio-buttons()
      //-       +toggle(title, [{case:'Получать спецпредложения', checked:'checked'}, {case:'Получать спецпредложения'}])
      //-       +like()
      //-       +rate(rate__title, [{count: 5, rate: 4}, {count: 5, rate: 5}])
      //-     .elements.mixed-content__elements
      //-       include desktop/pages/formelements/range-slider/range-slider
      //-       include desktop/pages/formelements/button/button
      //-       include desktop/pages/formelements/pagination/pagination
      //-       +range-slider()
      //-       +button(title, [{text:'click me'},{text:'click me'},{text:'click me'},{text:'click me'},{text:'click me'},{text:'click me'},{text:'click me'}])
      //-       +pagination()
      //-   .dropdowns.form-elements__dropdowns
      //-     //- +dropdown()
      //-     //- +dropdown()
      //-     //- +dropdown()
      //-     //- +dropdown()
      //-   .checkboxes.form-elements__checkboxes
      //-     //- +checkbox()
      //-     //- +checkbox()
      //-     //- +checkbox()
      //-     //- +checkbox()
      //-   .benefits.form-elements__benefits
      //-     //- +benefits()
      //-     //- +benefits()
      //-     //- +comment()