mixin textField__input(input_text, input_type, input_mode= '')
    input(
        type= input_type
        placeholder= input_text
        class= 'input textField__input textField__input_' + input_mode
        )