mixin input__marker(mode)
    +blockWrap('marker')
        //- if mode == 'dropdown'
        //-     img(alt='expand_more' src='/assets/img/expand_more.svg')
        if mode == 'post'
            img(alt='expand_more' src='/assets/img/arrow_forward_bc9cff-8ba4f9.svg')