.pageFormElements {
    .logo.pageFormElements__logo {
        margin: 30px 30px 0;
    }

    .container.pageFormElements__container {
        display: flex;
        flex-flow: row wrap;
        width: 320px;
        margin: 62px 140px 0;

        .mixedContent.container__mixedContent {
            display: flex;
            flex-flow: column wrap;

            .forms.mixedContent__forms {
                display: flex;
                flex-basis: 320px;
                flex-flow: row wrap;
                justify-content: space-between;

                .box.forms__box {
                    padding-bottom: 20px;
                    display: flex;
                    flex-basis: 320px;
                    justify-content: space-between;
                    flex-flow: row wrap;

                    &_slim {
                        max-width: 150px;
                    }

                    .dateDropdown.box__dateDropdown {
                        display: flex;
                        flex-flow: row wrap;
                        margin-top: 20px;

                        .blockTitle {
                            white-space: nowrap;
                        }
                    }

                    .dateDropdown.box__dateDropdown>.blockTitle.dateDropdown__blockTitle,
                    .blockTitle.box__blockTitle {
                        flex-basis: 50%;
                        margin-bottom: 5px;

                        &:nth-child(2) {
                            position: relative;
                            top: -3px;
                            display: flex;
                            justify-content: flex-end;

                        }
                    }

                }
            }

            // .dropdowns.mixed-content__dropdowns {
            //     display: flex;
            //     flex-flow: row wrap;
            //     padding-bottom: 40px;
            // }
            .buttons.mixedContent__buttons {
                display: flex;
                flex-flow: row wrap;
                padding-bottom: 40px;

                .option {
                    white-space: pre-line;
                }
            }

            .elements.mixedContent__elements {
                display: flex;
                flex-flow: row wrap;
                padding-bottom: 40px;
            }

            .dropdowns.form-elements__dropdowns {
                display: flex;
                flex-flow: column wrap;
                padding-top: 60px;
                padding-bottom: 20px;
            }

            .checkboxes.form-elements__checkboxes {
                display: flex;
                flex-flow: column wrap;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .benefits.form-elements__benefits {
                display: flex;
                flex-flow: column wrap;
            }
        }
    }
}

@import './blockInput/blockInput.scss';
@import './dropdown/dropdown.scss';
@import './toggle/toggle.scss';
@import './like/like.scss';
@import './rate/rate.scss';
@import './pagination/pagination.scss';