.pageFormElements{
    .logo.pageFormElements__logo {
        margin: 30px 30px 0;
    }

    .container.pageFormElements__container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin: 62px 140px 0;

        .mixedContent.container__mixedContent {
            display: flex;
            flex-flow: column wrap;

            .forms.mixedContent__forms {
                display: flex;
                flex-basis: 320px;
                flex-flow: column wrap;
                
                .textField.forms__textField {
                    padding-bottom: 20px;
                }
            }

            // .dropdowns.mixed-content__dropdowns {
            //     display: flex;
            //     flex-flow: row wrap;
            //     padding-bottom: 40px;
            // }
            .buttons.mixedContent__buttons {
                display: flex;
                flex-flow: row wrap;
                padding-bottom: 40px;

                .option {
                    white-space: pre-line;
                }
            }

            .elements.mixedContent__elements {
                display: flex;
                flex-flow: row wrap;
                padding-bottom: 40px;
            }

            .dropdowns.form-elements__dropdowns {
                display: flex;
                flex-flow: column wrap;
                padding-top: 60px;
                padding-bottom: 20px;
            }

            .checkboxes.form-elements__checkboxes {
                display: flex;
                flex-flow: column wrap;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .benefits.form-elements__benefits {
                display: flex;
                flex-flow: column wrap;
            }
        }
    }
}

@import './textField/textField.scss';
@import './dropdown/dropdown.scss';
@import './toggle/toggle.scss';
@import './like/like.scss';
@import './rate/rate.scss';
@import './pagination/pagination.scss';