.pageFormElements {
    .logo.pageFormElements__logo {
        margin: 30px 30px 0;
    }

    .container.pageFormElements__container {
        display: flex;
        // flex-flow: row wrap;
        margin: 62px 140px 0;

        .mixedContent.container__mixedContent {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;

            .forms.mixedContent__forms {
                display: flex;
                flex-flow: row wrap;
                width: 320px;   
                justify-content: space-between;

                .box.forms__box {
                    padding-bottom: 20px;
                    display: flex;
                    flex-flow: row wrap;
                    //flex-basis: 320px;
                    justify-content: space-between;
                    
                    &_slim {
                        max-width: 150px;
                    }

                    .dateDropdown.box__dateDropdown {
                        display: flex;
                        flex-flow: row wrap;
                        margin-top: 20px;

                        .blockTitle {
                            white-space: nowrap;
                        }
                    }

                    .dateDropdown.box__dateDropdown>.blockTitle.dateDropdown__blockTitle,
                    .blockTitle.box__blockTitle {
                        flex-basis: 50%;
                        margin-bottom: 5px;

                        &:nth-child(2) {
                            position: relative;
                            top: -3px;
                            display: flex;
                            justify-content: flex-end;

                        }
                    }

                }
            }

            .checkboxList.mixedContent__checkboxList {
                display: flex;
                flex-flow: column wrap;
                padding-bottom: 40px;
                margin-left: 126px;
                width: 260px;
                .box.checkboxList__box {
                    margin-bottom: 30px;
                    .blockTitle.box__blockTitle {
                        padding-bottom: 16px;
                    }
                }
                // .option {
                //     white-space: pre-line;
                // }
                .like.box__like {
                    display: flex;
                    flex-flow: row nowrap;
                }
            }
        }
    }
}

@import './blockInput/blockInput.scss';
// @import './dropdown/dropdown.scss';
// @import './toggle/toggle.scss';
// @import './like/like.scss';
@import './rate/rate.scss';
@import './pagination/pagination.scss';
@import './checkbox/checkbox.scss';