include ../logo/logo
include ../menu/menu

mixin header(options)
    if !options
        - options = {}
    if !options.items
        - options.items = []
    
    +blockWrap('header')
        +logo(options.items[0].options)
        each item in options.items
            if item.name == 'menu'
                +menu(item.stack)
