-   
    //--------------------------Header------------------------  
    locals.header = {
        items:[{

            name:'logo',
            options:{
                mode: ['colored']}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'Home',
                mode:['montserratBold','darkShade075'],
                type:[]}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'About Us',
                mode:['montserrat','darkShade050'],
                type:[]}}, {

            name:'dropdown',
            options:{
            title:{
                selector: 'h3',
                text: 'Services',
                mode: ['montserrat', 'darkShade050']},
                type:'free',
                input:{
                    type: 'text',
                    text:'ДД.ММ.ГГГГ',
                    value:'Services'},
                options:[],
                mode:['free','darkShade050', 'montserrat', 'borderless']}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'Careers',
                mode:['montserrat','darkShade050'],
                type:[]}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'News',
                mode:['montserrat','darkShade050'],
                type:[]}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'Documentation',
                mode:['montserrat','darkShade050'],
                type:[]}}, {

            name:'button',
            options:{
                selector: 'h3',
                    text: 'login',
                    mode: ['montserratBold', 'uppercase', 'purple_BC9CFF'],
                    type: ['bordered']}}, {


            name:'button',
            options:{
                selector: 'h3',
                    text: 'register',
                    mode: ['montserratBold', 'uppercase', 'white'],
                    type: ['borderless','filled']}}, {

        }]}

    //--------------------------Header registered------------------------  
    locals.headerRegistered = {
        items:[{

            name:'logo',
            options:{
                mode: ['colored']}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'Home',
                mode:['montserratBold','darkShade075'],
                type:[]}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'About Us',
                mode:['montserrat','darkShade050'],
                type:[]}}, {

            name:'dropdown',
            options:{
            title:{
                selector: 'h3',
                text: 'Services',
                mode: ['montserrat', 'darkShade050']},
                type:'free',
                input:{
                    type: 'text',
                    text:'ДД.ММ.ГГГГ',
                    value:'Services'},
                options:[],
                mode:['free','darkShade050', 'montserrat', 'borderless']}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'Careers',
                mode:['montserrat','darkShade050'],
                type:[]}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'News',
                mode:['montserrat','darkShade050'],
                type:[]}}, {

            name:'button',
            options:{
                selector:'h3',
                text:'Documentation',
                mode:['montserrat','darkShade050'],
                type:[]}}, {

            name:'separator'}, {


            name:'button',
            options:{
                selector:'h3',
                text:'Cosmin Negoita',
                mode:['montserrat','darkShade050'],
                type:[]}}, {

        }]}