mixin datepicker()
    +blockWrap('calendarPage')
        +blockWrap('datepicker-here')
        +blockWrap('actionButtons')
            +button({
                selector: 'h3',
                text: 'очистить',
                mode: ['montserratBold', 'uppercase', 'darkShade050']})
            +button({
                selector: 'h3',
                text: 'применить',
                mode: ['montserratBold', 'uppercase', 'purple_BC9CFF']})