mixin datepicker()
    +blockWrap('calendarPage')
        +blockWrap('datepicker-here')
        +blockWrap('actionButtons')
            +button({type:'hollowDisabled', text:'очистить'})
            +button({type:'hollowDefault', text:'применить'})