.calendarPage {
    width: 340px;
    height: 370px;
    // display: flex;
    // font-family: row wrap;
    background: #FFFFFF;
    // border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}

div.datepicker {
    width: 300px;
    padding: 20px 20px 0 20px;
    border:none;

    .datepicker--nav-title {
        width: 114px;
        height: 24px;
        font-family: $quicksandBold;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: $darkShade100;
    }

    .datepicker--day-name {
        // width: 40px !important;
        height: 40px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #BC9CFF;
    }

    .datepicker--cell {
        width: 40px;
        height: 40px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $darkShade050;
        border: none;
        &:hover {
            border-radius: 50%;
        }
    }

    .-other-month- {
        color: $darkShade025;
    }

    .-current- {
        color: #fff;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 50%;
    }

    .-selected-,.-selected-:hover {
        color: #fff;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 50%;
        // border: none;
    }

    .-in-range- {
        color: rgba(31, 32, 65, 0.5);
    }
}

.actionButtons {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}