include menu__item/menu__item

ul.menu
    +menu('/home', 'Home')
    +menu('/abt', 'About Us')
    +menu('/serv', 'Services')
    +menu('/care', 'Careers')
    +menu('/nws', 'News')
    +menu('/doc', 'Documentation')