include __option/checkbox__option
include __description/checkbox__description

mixin checkbox(options)
    if !options
        - options = {}
    if !options.items
        - options.items = []
    -
        parent = tmp_parent;

    form(class='checkbox' + ' ' + parent + '__checkbox')
        -tmp_parent=checkbox
        each item in options.items
            +checkbox__option(item.option, options.type)
            if item.description
                +checkbox__description(item.description)