.checkboxGroup.box__checkboxGroup {
    display: flex;
    flex-flow: column wrap;
}
.checkboxRadio.box__checkboxRadio {
    display: flex;
    flex-flow: row wrap;
}

@import './__option/checkbox__option.scss';