mixin colorNotion(notion)
 -
        var notionClass = 'colorNotion colorSample__colorNotion';
        for (let k = 0; k < notion.length; k++) {
            notionClass += ' colorSample__colorNotion' + '_' + notion[k];
        }
 div(class= notionClass)