@import "./color-sample/color-sample.scss";
@import "./type-sample/type-sample.scss";


.colors-type.item-page__colors-type {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: space-between;
    .logo.colors-type__logo {
        width: 100%;
        padding: 30px;
    }
    .colors.colors-type__colors {
        padding: 37px 0 0 150px;    
    }
    .type.colors-type__type {
        padding: 37px 150px 0 0;
            .type-name.type-sample__type-name {
                padding: 0 30px;
            }
        
    }
}
