@import './color-sample/color-sample.scss';
@import './blockTitle/blockTitle.scss';

.page {
  .logo.page__logo {
    width: 100%;
    padding: 30px;
  }
  .container.page__container {
    padding: 37px 191px 0 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;

    .colors.container__colors {
      display: flex;
      flex-flow: column wrap;
      width: 30%;
    }

    .type.container__type {
      display: flex;
      flex-flow: column wrap;
      width: 32.5%;

      .example.type__example {
        display: flex;
        flex-flow: row nowrap;

        .blockTitle.example__blockTitle {
          &:nth-child(odd) {
            padding-right: 30px;
            width: 14.88%;
          }

          &:nth-child(even) {
            padding-bottom: 50px;
            width: 85.12%;
          }
        }
      }
    }
  }
}