@import './colorSample/colorSample.scss';
@import './blockTitle/blockTitle.scss';

.pageColorsType {
  .logo.pageColorsType__logo {
    margin: 30px;
  }

  .container.pageColorsType__container {
    margin: 37px 191px 0 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .colors.container__colors {
      display: flex;
      flex-flow: column wrap;
      flex-basis: 30%;
    }

    .type.container__type {
      display: flex;
      flex-basis: 32.06%;
      align-content: flex-start;
      flex-flow: row wrap;

      .typeSample.type__typeSample {
        display: flex;
        margin-bottom: 50px;
        flex-flow: row nowrap;
        justify-content: space-between;

        .tagGroup.typeSample__tagGroup {
          display: flex;
          min-width: 37px;
          margin-right: 30px;
          justify-content: flex-end;
        }

        .exampleGroup.typeSample__exampleGroup {
          display: flex;
          justify-content: flex-start;
          max-width: 336px;
        }
      }





      //   // .typeSample.type__typeSample {
      //   //   display: flex;
      //   //   padding-right: 30px;
      //   //   flex-basis: 9.18%;
      //   //   align-content: flex-start;
      //   //   flex-flow: row wrap;
      //   //   justify-content: flex-end;
      //   //   // align-items: baseline;
      //   //   .blockTitle.tagGroup__blockTitle {
      //   //     align-self: flex-start;
      //   //   }
      //   // }
      //   // .exampleGroup.type__examplegroup {
      //   //   display: flex;
      //   //   padding-bottom: 50px;
      //   //   flex-basis: 74.68%;
      //   //   align-content: flex-start;
      //   //   flex-flow: row wrap;
      //   //   justify-content: flex-start;
      //   // }
    }
  }
}