@import "./color-sample/color-sample.scss";
@import './title/title.scss';
// @import "./type-sample/type-sample.scss";


.logo.colors-type__logo {
  width: 100%;
  padding: 30px;
}

.colors-type.item-page__colors-type {
  padding: 37px 191px 0 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
  .colors.colors-type__colors {
    display: flex;
    flex-flow: row wrap;
    width: 30%;
  }
  .type.colors-type__type {
      display: flex;
      flex-flow: row wrap;
      width: 32.5%;
      .title {
        &:nth-child(odd) {
          padding-right: 30px;
          width: 14.88%;
        }
        &:nth-child(even) {
          width: 85.12%;
        }
      }
    }
}
