.item.list__item {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
  align-items: center;

  .blockTitle.item__blockTitle {
    margin: 12px auto 10px 14px;
  }

  .itemCounter.item__itemCounter {
    display: flex;
    flex-basis: content;
    margin: 6px 7px auto auto;

    .blockTitle.itemCounter__blockTitle {
      width: 30px;
      height: 30px;
      font-size: 12px;
      line-height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
      border-radius: 22px;

      &_increment {
        border-width: 1px;
        border-style: solid;
        font-size: 18px;
        line-height: 22px;
      }

      &_decrement {
        border-width: 1px;
        border-style: solid;
        font-size: 18px;
        line-height: 22px;
      }
      // &_value {
      //   width: 31px;
      //   height: 31px;
      // }
    }
  }
}