mixin dropdown__item(item)
    +blockWrap('item')
        +blockTitle({
            selector: 'h3',
            text: item.title,
            mode: ['montserratBold', 'uppercase']})
        +blockWrap('itemCounter')
            +blockWrap('decrement', ['darkShade025']) -
            +blockWrap('value')(value!=attributes.value data_plural!=attributes.data_plural) 0
            +blockWrap('increment', ['visible']) +