.button_disabled {
    &[class*='__button_filled'] {
        opacity: 0.5;
        &::after {
            border: none;
        }
    }
    &::after {
        position: absolute;
        content:'';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 22px;
        padding: 2px;
        opacity: 0.5;
    }
}