mixin rangeSlider()
    +blockWrap('rangeSlider')
        +blockTitle({
                selector: 'h3',
                text: 'range slider',
                mode: ['montserratBold', 'uppercase']})
        input(type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;")
        div(id="slider-range")