.rangeSlider.elements__rangeSlider {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 266px;
    // margin-top: 20px;

    input {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal !important;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        text-align: right;
        text-transform: uppercase;

        /* Dark 50% */

        color: rgba(31, 32, 65, 0.5) !important;
    }

    #slider-range {
        margin-top: 20px;
        width: 266px;
        height: 6px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 3px;

        &#slider-range>div {
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            border: none;
            border-radius: 10px;
        }
    }

    .ui-state-default {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        width: 16px;
        height: 16px;
    }
}