.blockTitle {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
}

@import './_darkShade075/blockTitle_darkShade075.scss';
@import './_darkShade025/blockTitle_darkShade025.scss';
@import './_quicksandBold/blockTitle_quicksandBold.scss';
@import './_montserratBoldUppercase/blockTitle_montserratBoldUppercase.scss';
@import './_montserrat/blockTitle_montserrat.scss';