mixin toggle(toggle__title, toggle__button)
    .toggle.buttons__toggle
        include __title/toggle__title
        +toggle__title(toggle__title)
        include __button/toggle__button
        +toggle__button(toggle__button)