-   
    //--------------------------Search card------------------------  
    locals.cardSearch = {
        items:[{
            
            name:'blockTitle',
            options:{
                selector: 'h1',
                text: 'Найдём номера под\n ваши пожелания',
                mode: ['quicksandBold']}}, {
            
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'прибытие',
                    mode: ['montserratBold', 'uppercase']},
                type:'dateSmall',
                input:{
                    type: 'text',
                    text:'ДД.ММ.ГГГГ',
                    value:'ДД.ММ.ГГГГ'},
                options:[],
                mode:['uppercase', 'small', 'darkShade075', 'montserrat']}}, {
            
            name:'dropdown',
            options:{
            title:{
                selector: 'h3',
                text: 'выезд',
                mode: ['montserratBold', 'uppercase']},
                type:'dateSmall',
                input:{
                    type: 'text',
                    text:'ДД.ММ.ГГГГ',
                    value:'ДД.ММ.ГГГГ'},
                options:[],
                mode:['uppercase', 'small', 'darkShade075', 'montserrat']}}, {
            
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'гости',
                    mode: ['montserratBold', 'uppercase']},
                type:'dropdown',
                input:{
                    type: 'text',
                    text:'',
                    value:'Сколько гостей',
                    state:'disabled'},
                options:[],
                mode:['large', 'darkShade075', 'montserrat']}}, {
            
            indent:'third',
            name:'button',
            options:{
                type:'fillLarge',
                text:'подобрать номер'}}
        ]};
    
    //--------------------------Registration card------------------------ 

    locals.cardRegistration = {
        items:[{
            
            name:'blockTitle',
            options:{
                selector: 'h1',
                text: 'Регистрация аккаунта',
                mode: ['quicksandBold']}}, {
            
            indent: 'first',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: '',
                    mode: ['hidden']},
                type:'textfield',
                input:{
                    type: 'text',
                    text:'Имя',
                    value:''},
                options:[],
                mode:['large', 'darkShade075', 'montserrat']}}, {
            
            indent: 'second',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: '',
                    mode: ['hidden']},
                type:'textfield',
                input:{
                    type: 'text',
                    text:'Фамилия',
                    value:''},
                options:[],
                mode:['large', 'darkShade075', 'montserrat']}}, {
            
            indent: 'second',
            name:'checkbox',
            options:{
                type: 'radio', 
                items: [
                {option:'Мужчина', checked:'checked'},
                {option:'Женщина'}]}}, {
            
            indent: 'first',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'Дата рождения',
                    mode: ['uppercase', 'montserratBold']},
                type:'textfield',
                input:{
                    type: 'text',
                    text:'дд.мм.гггг',
                    value:''},
                options:[],
                mode:['uppercase', 'large', 'darkShade075', 'montserrat']}}, {
                
            indent: 'first',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'Данные для входа в сервис',
                    mode: ['uppercase', 'montserratBold']},
                type:'textfield',
                input:{
                    type: 'text',
                    text:'Email',
                    value:''},
                options:[],
                mode:['large', 'darkShade075', 'montserrat']}}, {

            indent: 'second',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'Данные для входа в сервис',
                    mode: ['hidden']},
                type:'textfield',
                input:{
                    type: 'text',
                    text:'Пароль',
                    value:''},
                options:[],
                mode:['large', 'darkShade075', 'montserrat']}}, {

            indent: 'second',
            name:'checkbox',
            options:{
                type: 'toggle', 
                items: [
                {option:'Получать спецпредложения'}]}}, {

            indent:'third',    
            name:'button',
            options:{
                type:'fillLarge',
                text:'перейти к оплате'}}, {
            
            indent:'third',
            name:'blockTitle',
            options:{
                selector: 'h4',
                text: 'Уже есть аккаунт на Toxin',
                mode: ['montserrat', 'black']}}, {
            
            indent:'third',    
            name:'button',
            options:{
                type:'borderedDefault',
                text:'войти'}}
        ]};

    //--------------------------Reservation card------------------------ 

    locals.cardReservation = {
        items:[{


            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        selector: 'h4',
                        text: '№',
                        mode: ['quicksandBold', 'darkShade100']},
                    {
                        float:'left',
                        selector: 'h1',
                        text: '888',
                        mode: ['quicksandBold', 'darkShade100']},
                    {
                        float:'left',
                        selector: 'h3',
                        text: 'люкс',
                        mode: ['montserratBold', 'purple_BC9CFF', 'uppercase']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: 'в сутки',
                        mode: ['montserrat', 'darkShade050']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '9 990₽',
                        mode: ['montserratBold', 'darkShade050']}
                ]}}, {

            indent:'first',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'прибытие',
                    mode: ['montserratBold', 'uppercase']},
                type:'dateSmall',
                input:{
                    type: 'text',
                    text:'ДД.ММ.ГГГГ',
                    value:'19.08.2019'},
                options:[],
                mode:['uppercase', 'small', 'darkShade075', 'montserrat']}}, {
                
            indent:'first',
            name:'dropdown',
            options:{
            title:{
                selector: 'h3',
                text: 'выезд',
                mode: ['montserratBold', 'uppercase']},
                type:'dateSmall',
                input:{
                    type: 'text',
                    text:'ДД.ММ.ГГГГ',
                    value:'23.08.2019'},
                options:[],
                mode:['uppercase', 'small', 'darkShade075', 'montserrat']}}, {
                
            indent:'first',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'гости',
                    mode: ['montserratBold', 'uppercase']},
                type:'dropdown',
                input:{
                    type: 'text',
                    text:'',
                    value:'3 гостя',
                    state:'disabled'},
                options:[],
                mode:['large', 'darkShade075', 'montserrat']}}, {
            
            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        selector: 'h4',
                        text: '9 990₽ х 4 суток',
                        mode: ['montserrat', 'darkShade075']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '39 960₽',
                        mode: ['montserrat', 'darkShade075']}
                ]}}, {

            indent:'second',   
            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        selector: 'h4',
                        text: 'Сбор за услуги: скидка 2 179₽',
                        mode: ['montserrat', 'darkShade075']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '0₽',
                        mode: ['montserrat', 'darkShade075']}
                ]}}, {
            
            indent:'second',   
            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        selector: 'h4',
                        text: 'Сбор за дополнительные услуги',
                        mode: ['montserrat', 'darkShade075']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '300₽',
                        mode: ['montserrat', 'darkShade075']}
                ]}}, {

            indent:'third',   
            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        selector: 'h2',
                        text: 'Итого',
                        mode: ['quicksandBold', 'darkShade100']},
                    {
                        float:'left',
                        selector: 'h3',
                        text: '........................................................................',
                        mode: ['quicksandBold', 'darkShade025']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '38 081₽',
                        mode: ['quicksandBold', 'darkShade100']}
                ]}}, {

            indent:'first',
            name:'button',
            options:{
                type:'fillLarge',
                text:'забронировать'}}
        
    ]};

    //--------------------------Registration card------------------------ 

    locals.cardLogin = {
        items:[{
            
            name:'blockTitle',
            options:{
                selector: 'h1',
                text: 'Войти',
                mode: ['quicksandBold', 'darkShade100']}}, {
                
            indent: 'first',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'Данные для входа в сервис',
                    mode: ['hidden']},
                type:'textfield',
                input:{
                    type: 'text',
                    text:'Email',
                    value:''},
                options:[],
                mode:['large', 'darkShade075', 'montserrat']}}, {

            indent: 'second',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'Данные для входа в сервис',
                    mode: ['hidden']},
                type:'textfield',
                input:{
                    type: 'text',
                    text:'Пароль',
                    value:''},
                options:[],
                mode:['large', 'darkShade075', 'montserrat']}}, {

            indent:'first',    
            name:'button',
            options:{
                type:'fillLarge',
                text:'войти'}}, {
            
            indent:'third',
            name:'blockTitle',
            options:{
                selector: 'h4',
                text: 'Нет аккаунта на Toxin?',
                mode: ['montserrat', 'black']}}, {
            
            indent:'third',    
            name:'button',
            options:{
                type:'borderedDefault',
                text:'войти'}}
        ]};
