-   
    //--------------------------Search card------------------------  
    locals.cardSearch = {
        items:[{
            
            name:'blockTitle',
            options:{
                selector: 'h1',
                text: 'Найдём номера под\n ваши пожелания',
                mode: ['quicksandBold']}}, {
            
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'прибытие',
                    mode: ['montserratBold', 'uppercase']},
                placeholder:'ДД.ММ.ГГГГ',
                mode: ['small', 'bordered','masked']}}, {
            
            name:'dropdown',
            options:{
            title:{
                selector: 'h3',
                text: 'выезд',
                mode: ['montserratBold', 'uppercase']},
                placeholder:'ДД.ММ.ГГГГ',
                mode: ['small', 'bordered','masked']}}, {
            
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'гости',
                    mode: ['montserratBold', 'uppercase']},
                value:'Сколько гостей',
                disabled:'disabled',
                mode: ['large', 'bordered','darkShade075']}}, {
            
            indent:'third',
            name:'button',
            options:{
                selector: 'h3',
                text: 'подобрать номер',
                mode: ['montserratBold', 'uppercase', 'white'],
                type: ['large','filled','post']}}
        ]};
    
    //--------------------------Registration card------------------------ 

    locals.cardRegistration = {
        items:[{
            
            name:'blockTitle',
            options:{
                selector: 'h1',
                text: 'Регистрация аккаунта',
                mode: ['quicksandBold']}}, {
            
            indent: 'first',
            name:'input',
            options:{
                placeholder:'Имя',
                mode: ['large', 'bordered']}}, {
            
            indent: 'second',
            name:'dropdown',
            options:{
                placeholder:'Фамилия',
                mode: ['large', 'bordered']}}, {
            
            indent: 'second',
            name:'checkbox',
            options:{
                type:'radio',
                items:[{
                    option:{
                        text:'Мужчина',
                        checked:'checked',
                        mode:['radio']}},{            
                    option:{
                        text:'Женщина',
                        mode:['radio']}}
            ]}}, {
            
            indent: 'first',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'Дата рождения',
                    mode: ['uppercase', 'montserratBold']},
                placeholder:'дд.мм.гггг',
                mode: ['large', 'bordered','uppercase']}}, {
                
            indent: 'first',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'Данные для входа в сервис',
                    mode: ['uppercase', 'montserratBold']},
                placeholder:'Email',
                mode: ['large', 'bordered']}}, {

            indent: 'second',
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'Данные для входа в сервис',
                    mode: ['hidden']},
                placeholder:'Пароль',
                mode: ['large', 'bordered']}}, {

            indent: 'second',
            name:'checkbox',
            options:{type:'checkbox',
                items:[{
                    option:{
                        text:'Получать спецпредложения',
                        mode:['toggle']}
            }]}}, {

            indent:'third',    
            name:'button',
            options:{selector: 'h3',
                text: 'перейти к оплате',
                mode: ['montserratBold', 'uppercase', 'white'],
                type: ['large','filled','post']}}, {
            
            indent:'third',
            name:'blockTitle',
            options:{
                selector: 'h4',
                text: 'Уже есть аккаунт на Toxin',
                mode: ['montserrat', 'black']}}, {
            
            indent:'third',    
            name:'button',
            options:{
                selector: 'h3',
                text: 'войти',
                mode: ['montserratBold', 'uppercase', 'purple_BC9CFF'],
                type: ['bordered']}}
        ]};

    //--------------------------Reservation card------------------------ 

    locals.cardReservation = {
        items:[{


            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        selector: 'h4',
                        text: '№',
                        mode: ['quicksandBold', 'darkShade100']},
                    {
                        float:'left',
                        selector: 'h1',
                        text: '888',
                        mode: ['quicksandBold', 'darkShade100']},
                    {
                        float:'left',
                        selector: 'h3',
                        text: 'люкс',
                        mode: ['montserratBold', 'purple_BC9CFF', 'uppercase']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: 'в сутки',
                        mode: ['montserrat', 'darkShade050']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '9 990₽',
                        mode: ['montserratBold', 'darkShade050']}
                ]}}, {

            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'прибытие',
                    mode: ['montserratBold', 'uppercase']},
                placeholder:'19.08.2019',
                mode: ['small', 'bordered','masked']}}, {
            
            name:'dropdown',
            options:{
            title:{
                selector: 'h3',
                text: 'выезд',
                mode: ['montserratBold', 'uppercase']},
                placeholder:'23.08.2019',
                mode: ['small', 'bordered','masked']}}, {
                
            name:'dropdown',
            options:{
                title:{
                    selector: 'h3',
                    text: 'гости',
                    mode: ['montserratBold', 'uppercase']},
                value:'3 гостя',
                disabled:'disabled',
                mode: ['large', 'bordered','darkShade075']}}, {
            
            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        selector: 'h4',
                        text: '9 990₽ х 4 суток',
                        mode: ['montserrat', 'darkShade075']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '39 960₽',
                        mode: ['montserrat', 'darkShade075']}
                ]}}, {

            indent:'second',   
            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        additionalInfo: true,
                        selector: 'h4',
                        text: 'Сбор за услуги: скидка 2 179₽',
                        mode: ['montserrat', 'darkShade075']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '0₽',
                        mode: ['montserrat', 'darkShade075']}
                ]}}, {
            
            indent:'second',   
            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        additionalInfo: true,
                        selector: 'h4',
                        text: 'Сбор за дополнительные услуги',
                        mode: ['montserrat', 'darkShade075']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '300₽',
                        mode: ['montserrat', 'darkShade075']}
                ]}}, {

            indent:'third',   
            name:'room-details',
            options:{
                parts:[
                    {
                        float:'left',
                        selector: 'h2',
                        text: 'Итого',
                        mode: ['quicksandBold', 'darkShade100']},
                    {
                        float:'left',
                        selector: 'h3',
                        text: '.....................................................................',
                        mode: ['quicksandBold', 'darkShade025']},
                    {
                        float:'right',
                        selector: 'h4',
                        text: '38 081₽',
                        mode: ['quicksandBold', 'darkShade100']}
                ]}}, {

            indent:'first',    
            name:'button',
            options:{selector: 'h3',
                text: 'забронировать',
                mode: ['montserratBold', 'uppercase', 'white'],
                type: ['large','filled','post']}}
        
    ]};

    //--------------------------Registration card------------------------ 

    locals.cardLogin = {
        items:[{
            
            name:'blockTitle',
            options:{
                selector: 'h1',
                text: 'Войти',
                mode: ['quicksandBold', 'darkShade100']}}, {
                
            indent: 'first',
            name:'dropdown',
            options:{
                placeholder:'Email',
                mode: ['large', 'bordered']}}, {

            indent: 'second',
            name:'dropdown',
            options:{
                placeholder:'Пароль',
                mode: ['large', 'bordered']}}, {

            indent:'first',    
            name:'button',
            options:{
                selector: 'h3',
                text: 'войти',
                mode: ['montserratBold', 'uppercase', 'white'],
                type: ['large','filled','post']}}, {
            
            indent:'third',
            name:'blockTitle',
            options:{
                selector: 'h4',
                text: 'Нет аккаунта на Toxin?',
                mode: ['montserrat', 'black']}}, {
            
            indent:'third',    
            name:'button',
            options:{
                selector: 'h3',
                text: 'создать',
                mode: ['montserratBold', 'uppercase', 'purple_BC9CFF'],
                type: ['bordered']}}
        ]};

    //--------------------------Apartments888------------------------ 
    locals.apartments888 = {

        images:{
            items:[{
                src:'/assets/img/room888-01.png',
                alt:'img-1'
            },{
                src:'/assets/img/room888-02.png',
                alt:'img-2'
            },{
                src:'/assets/img/room888-03.png',
                alt:'img-3'
            },{
                src:'/assets/img/room888-04.png',
                alt:'img-4'
            }

            ]},

        roomDetails:{
            mode:['small'],
            parts:[
                {
                    float:'left',
                    selector: 'h4',
                    text: '№',
                    mode: ['quicksandBold', 'darkShade100']},
                {
                    float:'left',
                    selector: 'h2',
                    text: '888',
                    mode: ['quicksandBold', 'darkShade100']},
                {
                    float:'left',
                    selector: 'h3',
                    text: 'люкс',
                    mode: ['montserratBold', 'purple_BC9CFF', 'uppercase']},
                {
                    float:'right',
                    selector: 'h4',
                    text: 'в сутки',
                    mode: ['montserrat', 'darkShade050']},
                {
                    float:'right',
                    selector: 'h4',
                    text: '9 990₽',
                    mode: ['montserratBold', 'darkShade050']}
            ]},

        roomReview:{
            mode:['small'],
            parts:[
                {
                    float:'right',
                    selector: 'h4',
                    text: 'Отзывов',
                    mode: ['montserrat', 'darkShade050']},
                {
                    float:'right',
                    selector: 'h4',
                    text: '145',
                    mode: ['montserratBold', 'darkShade050']}
            ]
        },
        
        rateStars:'5'
    }

    //--------------------------Apartments840------------------------ 
    locals.apartments840 = {

        images:{
            items:[{
                src:'/assets/img/room888-02.png',
                alt:'img-1'
            },{
                src:'/assets/img/room888-01.png',
                alt:'img-2'
            },{
                src:'/assets/img/room888-04.png',
                alt:'img-3'
            },{
                src:'/assets/img/room888-03.png',
                alt:'img-4'
            }

            ]},

        roomDetails:{
            mode:['small'],
            parts:[
                {
                    float:'left',
                    selector: 'h4',
                    text: '№',
                    mode: ['quicksandBold', 'darkShade100']},
                {
                    float:'left',
                    selector: 'h2',
                    text: '840',
                    mode: ['quicksandBold', 'darkShade100']},
                {
                    float:'right',
                    selector: 'h4',
                    text: 'в сутки',
                    mode: ['montserrat', 'darkShade050']},
                {
                    float:'right',
                    selector: 'h4',
                    text: '9 990₽',
                    mode: ['montserratBold', 'darkShade050']}
            ]},

        roomReview:{
            mode:['small'],
            parts:[
                {
                    float:'right',
                    selector: 'h4',
                    text: 'Отзывов',
                    mode: ['montserrat', 'darkShade050']},
                {
                    float:'right',
                    selector: 'h4',
                    text: '65',
                    mode: ['montserratBold', 'darkShade050']}
            ]
        },
        
        rateStars:'4'
    }