body.pageCards {
    background: #E5E5E5;
    // background: #F4F4F6;
}

.pageCards {
    .logo.pageCards__logo {
        margin: 30px 30px 0;
    }

    .container.pageCards__container {
        margin: 72px 140px 140px;
        display: flex;
        flex-flow: row wrap;

        .column.container__column {
            width: 380px;
            display: flex;
            flex-flow: column wrap;
            justify-content: start;
            &:not(:first-child) {
                margin-left: 40px;
            }
            .card.column__card {
                &:not(:first-child) {
                    margin-top: 40px;
                }
            }
        }
    }
}

@import './../../components/card/card.scss';
@import './../../components/roomPreview/roomPreview.scss';