.dropdown_slim {
    
    .blockTitle {
        display: none;
    }
    .input {
        
        margin: 0;
        
        input {
            max-width: 60px;
            padding: 0;
        }
    }
}