.button__btn_blue {
    width: 101px;
    height: 34px;
    border: 2px solid linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #fff;
}