.blockInput.box__blockInput,
.blockInput.dateDropdown__blockInput {
    position: relative;
    width: 320px;
    min-height: 44px;
    border-radius: 4px;
    border: 1px solid $darkShade025;
    box-sizing: border-box;
    
    &_expanded {
        border: 1px solid $darkShade050;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    &_small {
        max-width: 150px;
    }
    
    &_medium {
        max-width: 266px;
    }
    
    &_large {
        max-width: 320px;
    }
    
    input {
        width: calc(100% - 42px);
        padding-top: 12px;
        padding-bottom: 8px;
        padding-left: 14px;
        border-radius: 4px;
        border-style: none;
        font-size: 14px;
        line-height: 24px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        
        &:hover,
        &:focus {
            border-color: $darkShade050;
            
            &::placeholder {
                color: $darkShade075;
            }
        }
        &:disabled {
            background: #fff;
        }



        &::placeholder {

            font-size: 14px;
            line-height: 24px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            color: $darkShade025;
            box-sizing: box-sizing;
        }

    }

    .caret {
        position: absolute;
        top: 10px;
        right: 9px;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 2px;
        vertical-align: middle;
        background: url('/assets/img/expand_more-24px.svg');
    }

    .post {
        position: absolute;
        top: 10px;
        right: 9px;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 2px;
        vertical-align: middle;
        background: url('/assets/img/arrow_forward_bc9cff-8ba4f9.svg') center no-repeat;
    }

    .list.blockInput__list {
        position: absolute;
        top: 43px;
        left: -1px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        border: 1px solid $darkShade050;
        border-top: none;
        box-sizing: border-box;
        box-shadow: 0px 10px 20px $darkShade005;
        visibility: hidden;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        z-index: 10;
        background: #fff;

        &.open {
            visibility: visible;
        }

        &_small {
            max-width: 150px;
        }

        &_medium {
            max-width: 266px;
        }

        &_large {
            max-width: 320px;
        }


        flex-flow: row wrap;

        .apply.list__apply {
            margin: 18px 6px 12px auto;
            font-size: 12px;
            line-height: 15px;
            font-stretch: ultra-condensed;
        }

        .reset.list__reset {
            margin: 18px auto 12px 6px;
            font-size: 12px;
            line-height: 15px;
            font-stretch: ultra-condensed;
            visibility: hidden;

            &_visible {
                visibility: visible;
            }
        }
    }
}

@import './__item/blockInput__item.scss';