.box__input {
    padding-left: 14px;
    flex-basis: 100%;
    min-height: 44px;
    border-radius: 4px;
    border-style: none;
    border: 1px solid $darkShade025;
    box-sizing: border-box;
    &:hover, &:focus {
        border-color: $darkShade050;
        &::placeholder {
            color: $darkShade075;
        }}

    &::placeholder {
        
        font-size: 14px;
        line-height: 18px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        color: $darkShade025;
        box-sizing: box-sizing;
    }
}