mixin pagination(pagination__title, pagination__description, pagination__bar)
    .pagination.elements__pagination
        include __title/pagination__title
        +pagination__title(pagination__title)
        include __bar/pagination__bar
        +pagination__bar(pagination__bar)
        include __description/pagination__description
        +pagination__description(pagination__description)
