mixin color-sample(colName, colCode, colNotion = ['dark-shade-100_1F2041'])
        .color-sample.colors__color-sample
                include __color-notion/color-sample__color-notion
                +color-notion(colNotion)
                .color-name.color-sample__color-name
                        include __color-name/color-sample__color-name
                        +color-name(colName)
                        include __color-code/color-sample__color-code
                        +color-code(colCode)